﻿@using Nop.Core;
@using System.Globalization
@using System.Threading
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{

    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Information").Text);

    var banner1 = "";

    CultureInfo current2 = Thread.CurrentThread.CurrentCulture;

}

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


@if (current2.Name == "en-US")
{
    <div id="mainContent" class="topic-page">
        <h2>Information and Regulations</h2>

        <h3>Terms of Use for Ordering Duty Free Items Through El Al’s Website</h3>
    </div>
    <div id="accordion">
        <h3><a href="#">1. Introduction</a></h3>
        <div>
            <p>1.1 The Duty Free Website which appears on the internet site of El Al Israel Airlines Ltd. (hereinafter: “El Al”) serves as a site enabling passengers to order Duty Free products on El Al, UP and Sun D'or flights during international flights only (hereinafter: the “Site”).</p>
            <p>1.2 Wherever in these Terms of Use the masculine language form is used, the intent is to include also the feminine language form.</p>
            <p> 1.3 The provisions of these Terms of Use shall be applicable to any use, or purchase which you make on this Site, and shall constitute the legal basis for any proceedings between you and El Al or between you and the operators of the Site. Therefore you are hereby requested to read the Terms of Use carefully and in its entirety.</p>
            <p>1.4 Using the Site and/or ordering product/s from the Site, shall be considered as your acceptance to the specified terms herein, therefore if you do not accept such terms, you are requested not to make any use in the Site.</p>
        </div>
        <h3><a href="#">2. General</a></h3>
        <div>
            <p>2.1 The Site enables you to purchase various products that are sold by El Al Duty Free and appear in the Buy & Fly catalogue that is distributed in El Al, UP and Sun D'or aircraft (hereinafter:  the “Catalogue”), conveniently, quickly and easily and at attractive prices. Payment for the products will be made in advance through the Site only and subject to the conditions set out herein.</p>
            <p>The Site also offers the “Gift in the Sky” service which enables you to order products from the list of products in the Site under the title “A Gift in the Sky”, as a gift for El Al passengers. In addition, the Site offers the “Celebration in the Sky” service which enables you to order products for  marriage  proposals, birthdays and other events. The uniquely packaged gift is delivered during the flight to the passenger for whom it was purchased by the Service Manager and/or his representative. Payment for the product is made in advance through the Site or the El Al Order call center whose telephone number is 03-9711111 (hereinafter:  “Gift in the Sky” or “Celebration in the Sky”).</p>
            <p>
                2.2        Products can be ordered commencing from 30 days in advance of the scheduled flight date and no later than the date indicated below:
                <br /><br />
                Dates for Product Orders for Flights Departing from Israel <br />
                <br />
                <table border="1" class="Table_information">
                    <tr>
                        <td>Flights to All Destinations</td>
                        <td class="secondChild"> The Product must be ordered not later than 48 hours prior to the flight time</td>
                    </tr>
                </table><br /><br />
                Dates for Product Orders for Flights to Israel

                <br /><br />
                <table border="1"class="Table_information">
                    <tr >
                        <td>Flights from Europe to Israel</td>
                        <td class="secondChild">The Product must be ordered not later than 48 hours prior to the flight time.</td>
                    </tr>
                    <tr>
                        <td>
                            Flights from the Far East and South Africa

                        </td>
                        <td class="secondChild">
                            The Product must be ordered not later than 3 days prior to the date of the flight

                        </td>
                    </tr>
                    <tr>
                        <td >
                            Flights from the U.S.A. and Canada

                        </td>
                        <td class="secondChild">
                            The Product must be ordered not later than 3 days prior to the date of the flight

                        </td>
                    </tr>
                </table>
            </p>

            <p>
                2.3        The name and the price of every product offered for sale is shown on the Site. There are photographs of the products. To avoid doubt it is stated that the photographs of the products that appear on the Site are for purposes of illustration only, and these products are not necessarily the products offered for sale on the aircraft nor are they necessarily similar to, or do they correspond to those that are sold on the aircraft.


            </p>
            <p>
                2.4        In order to execute the purchase of a product, select the desired product, the number of units and indicate if the payment will be in cash and/or cash and “Matmid Frequent Flyer” Club points and/or only from El Al’s “Matmid Frequent Flyer” Club points (hereinafter: the “points”). It is clarified that payment by means of the points will only be possible where the portion of the purchase that made by points exceeds 80 points. The next step is to enter the order number for the flight (PNR), and the full name of the passenger. The next stage is to indicate the flight number, the date of the flight, telephone number and the E-mail address for forwarding the purchase validation (receipt). Without these details we will not be able to deliver the product on the aircraft.

                In addition to the aforesaid, and in order to enjoy the benefit of ordering the product by points or by a combination of points, you are kindly requested to identify yourself with your Matmid Frequent Flyer Club member identification number and password. For your convenience, as soon as you enter the identifying details, the balance of the points which are at your disposal will appear. There may be a variation in the number of points due to deals that were made before logging on to the Site and before there was a chance to update them.

                For a purchase of “Gift/Celebration in the Sky”, please fill out the form that appears on the Site and indicate the personal name and last name, the flight number and the date of the flight of the passenger. In addition, please provide the telephone number, address and e-mail address in order to receive the confirmation order. Without these details we will not be able to deliver the product on the aircraft.

            </p>
            <p>2.5        Within the framework of Celebration in the Sky, various products may be ordered as detailed below: (1) Marriage Proposals – the product includes a bottle of wine, a box of chocolates, and a discount voucher for the purchase of duty-free products; (2) Birthdays – a bottle of wine, a box of chocolates and a discount voucher for the purchase of duty-free products; and (3) Various Products which consists of different duty-free products along with a box of chocolates.</p>
            <p>
                2.6        Due to space and weight limitations on the aircraft, we may not be able to respond to and fulfill large orders.

            </p>
            <p>
                2.7        In the event that there is a change in the type of aircraft or any change in the flight details of the passenger, the Site staff and/or El Al are not committed to fulfill the order.

            </p>


        </div>
        <h3><a href="#">3.      Receipt of the Order and Terms of Payment</a></h3>
        <div>
            <p>
                3.1        The prices of the products which are published on the Site shall determine the set price of the products.

            </p>
            <p>
                3.2        El Al Matmid Frequent Flyer Club members can purchase the products by means of points, or a combination of cash and points or for money.

            </p>
            <p>
                3.3        Multiple special offers and promotions are not valid.

            </p>
            <p>
                3.4        Upon the completion of the order, a purchase confirmation order along with the billing of the points used from your El Al Matmid Frequent Flyer Club account, if points were used, will be sent to the e-mail address that you indicated at the time of the order.

                Upon the completion of an order made through the Site including the purchase of “Gift/Celebration in the Sky”, a payment confirmation order will be sent by post to the address indicated at the time of the purchase order.
            </p>
            <p>
                3.5        Your order will wait for you on the aircraft subject to the available inventory. We apologize in advance if the Product is not on the flight or if it is out of stock. For the removal of any doubt, in the event that the Product is out of stock, the Site staff and/or El Al is not required to notify the passenger. In the event that the product is out of stock, or is not supplied to you on the flight, or should you decide not to complete the purchase of a specific product on the flight or should the purchase be cancelled, then you shall be credited for the points collected in advance from your El Al Matmid Frequent Flyer Club account in respect of the ordered product. In the case of a purchase by means of the Site of a “Gift/Celebration in the Sky” the credit card account of the customer purchasing the product shall be credited and also the passenger’s El Al Matmid Frequent Flyer Club account will be credited with the points collected in advance from, provided that the order for the product was made with points or with a combination of points.


            </p>
            3.6        Credited points in respect of the cancellation of the product ordered shall be credited to the member according to the original validity of his account.


            <p>
                3.7        Payment for the products on the Site will be executed solely by approved credit card.


            </p>
            <p>
                3.8        Payment by means of a credit card shall be charged only in New Israeli Shekels or U.S.A. Dollars.


            </p>
            <p>
                3.9        The exchange rate for foreign currency to Israeli Shekels is the selling rate of exchange for checks & transfers. the rate itself is updated weekly.


            </p>
            <p>
                3.10          The total cost paid in respect of the purchase of the products shall be indicated on the back of the receipt which shall be delivered to the passenger upon the completion of the purchase process.


            </p>
            <p>
                3.11          An El Al Matmid Frequent Flyer Club who purchases products to a value of $75 or more within the Gift/Celebration in the Sky framework shall accumulate points according to the accumulation chart below, in respect of the value of the product as it appears on the Site. The Points accumulated will be deemed Extra Points and shall be valid for 3 years.

                For a purchase of $75-$149 – 1 point for every $8 will be received;

                For a purchase of $150-$249 –1 point for every $7 will be received;

                For a purchase of $250-$349 –1 point for every $6 will be received;

                For purchases over $350 ––1 point for every $5 will be received.
            </p>
            <p>
                3.12.    If you do not have any points in your member account you will not be able to

                purchase the product by means of points and/or a combination of points.
            </p>
            <p>
                3.13.     The monetary value of a point shall be determined by the El Al Matmid

                Frequent Flyer Club and is subject to change from time to time.
            </p>
        </div>



        <h3>
            <a href="#">
                4.      Customer Service and Product Return Policy

            </a>
        </h3>
        <div>
            <p>
                4.1      In the event that you have any difficulties ordering the Duty-Free Products from the Site, you can contact the customer service center which operates Sundays – Thursdays between the hours 08:30 – 16:00, by telephone number 03-9717322, by fax number 03-9716298 or e-mail address: dutyfree@elal.co.il.

                <br />
                If you are interested in incorporating a marriage proposal in the “Celebration

                in the Sky” in your order then there are additional requirements for the implementation of the order and we will contact you for the purposes of choosing the method of making the proposal during the flight. It is hereby clarified that the responsibility for the performance of the proposal rests solely on the purchaser of the product for the proposal.



                It is hereby clarified that the purchase of a product within framework of the Celebration in the Sky is subject to El Al’s sole discretion. Furthermore, even after El Al’s authorization in principle of the implementation of the ordered product, the actual implementation shall be subject to the guidelines and authorization of the aircraft crew for the relevant flight and the flight conditions.
            </p>
            <p>
                4.2      All products on the Site have a one year warranty unless indicated otherwise on the Site and/or in the catalogue.

            </p>
            <p>
                4.3       The return of a product, with the exception of chocolate products, shall be permitted provided that it is in its original sealed packaging and only within 30 days from the date of purchase together with a copy of the receipt and only by registered mail addressed to:

                El Al Main Office, P.O. Box 41, BGA 7015001 next to the Duty Free department. It is the responsibility of the sender to ensure that the product is packaged well in order to avoid any damage during the delivery. Any product that is broken upon arrival shall be returned to the sender.




            </p>
            <p>
                4.4              Subject to the applicable law, the amount refunded will be subject to a deduction of 5% of the price of the product or NIS 100, whichever is lower.

            </p>
        </div>
        <h3>
            <a href="#">
                5.      Eligibility to Use the Site
            </a>
        </h3>
        <div>
            <p>
                Any user is permitted to use the Site and make any orders, subject to the fulfillment of the cumulative conditions detailed herein:

            </p>
            <p>
                5.1      The user or any individual for whom the product is being purchased is going to fly on a El Al, UP or Sun D'or flight within the next 30 days.


            </p>
            <p>
                5.2       The user is fit to execute legally binding acts. In the event that you are a minor (under the age of 18) or you are not eligible to execute any legally binding acts without the permission of your legal guardian, your use of the Site will be deemed to be in accordance with permission you obtained from your legal guardian.


            </p>
            <p>
                5.3      The user has an e-mail account.


            </p>
            <p>
                5.4      The sale of tobacco products and/or accessory products for the use of   tobacco to a minor and/or alcohol to minors (under the age of 18) will not be allowed. It is hereby clarified that to the extent that it is discovered that tobacco products and/or accessory products for the use of tobacco and/or alcohol has been purchased for a minor, the said product shall not be supplied and the relevant provisions concerning the return of products and crediting the account of the purchaser shall apply.


            </p>
        </div>
        <h3>
            <a href="#">
                6.      Additional Conditions


            </a>
        </h3>
        <div>
            <p>
                6.1      If an error is made in connection with the description of the product as it appears on the Site, or in the price of the product, then such mistake shall not oblige the Site or El Al.


            </p>
            <p>
                6.2      The Site and/or El Al and/or anyone on their behalf shall not be liable and shall not bear liability for any direct, indirect, consequential or special damages sustained by the user or any third party as a result of the use of the Site or of the placing of an order on the Site that is not in accordance and compliance with these Terms or Use, whatever the claim may be, and whatever the losses.


            </p>
            <p>
                6.3      It is hereby clarified that the sole responsibility for the personal property of a customer and/or passenger in everything concerning the services provided regarding the Gift/Celebration in the Sky is that of the passenger only, and El Al and the flight crew shall not bear any liability in connection therewith.


            </p>
        </div>
        <h3><a href="#">7.      Miscellaneous</a></h3>
        <div>
            <p>
                7.1        The liability is on the customer ordering Duty Free Products on the aircraft to  be familiar with all taxes and restrictions that are applicable in connection with the purchase of the products in the destination countries and the customer shall be solely liable therefor.

            </p>

            <p>
                7.2         The interpretation and enforcement of these Terms of Use and/or any act or dispute arising from them shall be in accordance with the laws of the State of Israel.

                .
            </p>

            <p>
                7.3       The competent Courts of Tel-Aviv – Jaffa shall have sole and exclusive jurisdiction to adjudicate any disputes concerning any product ordered and/or the services provided on the Site.


            </p>
            <p>
                7.4        From time to time, El Al may amend these Terms of Use in accordance with its sole discretion.


            </p>
        </div>
    </div>
    <br /><br />
    <b style="padding: 10px;">   E & OE   </b><br /><br />    <b style="padding: 10px;"> Enjoy your order and purchasing  </b>
}
else
{
    <div id="mainContent" class="topic-page">
        <h2>Information and Regulations</h2>

        <h3>Terms of Use for Ordering Duty Free Items Through El Al’s Website</h3>
    </div>
    <div id="accordion">
        <h3><a href="#">1. Introduction</a></h3>
        <div>
            <p>1.1 The Duty Free Website which appears on the internet site of El Al Israel Airlines Ltd. (hereinafter: “El Al”) serves as a site enabling passengers to order Duty Free products on El Al, UP and Sun D'or flights during international flights only (hereinafter: the “Site”).</p>
            <p>1.2 Wherever in these Terms of Use the masculine language form is used, the intent is to include also the feminine language form.</p>
            <p> 1.3 The provisions of these Terms of Use shall be applicable to any use, or purchase which you make on this Site, and shall constitute the legal basis for any proceedings between you and El Al or between you and the operators of the Site. Therefore you are hereby requested to read the Terms of Use carefully and in its entirety.</p>
            <p>1.4 Using the Site and/or ordering product/s from the Site, shall be considered as your acceptance to the specified terms herein, therefore if you do not accept such terms, you are requested not to make any use in the Site.</p>
        </div>
        <h3><a href="#">2. General</a></h3>
        <div>
            <p>2.1 The Site enables you to purchase various products that are sold by El Al Duty Free and appear in the Buy & Fly catalogue that is distributed in El Al, UP and Sun D'or aircraft (hereinafter:  the “Catalogue”), conveniently, quickly and easily and at attractive prices. Payment for the products will be made in advance through the Site only and subject to the conditions set out herein.</p>
            <p>The Site also offers the “Gift in the Sky” service which enables you to order products from the list of products in the Site under the title “A Gift in the Sky”, as a gift for El Al passengers. In addition, the Site offers the “Celebration in the Sky” service which enables you to order products for  marriage  proposals, birthdays and other events. The uniquely packaged gift is delivered during the flight to the passenger for whom it was purchased by the Service Manager and/or his representative. Payment for the product is made in advance through the Site or the El Al Order call center whose telephone number is 03-9711111 (hereinafter:  “Gift in the Sky” or “Celebration in the Sky”).</p>
            <p>
                2.2        Products can be ordered commencing from 30 days in advance of the scheduled flight date and no later than the date indicated below:
                <br /><br />
                Dates for Product Orders for Flights Departing from Israel <br />
                <br />
                <table border="1" class="Table_information">
                    <tr>
                        <td>Flights to All Destinations</td>
                        <td class="secondChild"> The Product must be ordered not later than 48 hours prior to the flight time</td>
                    </tr>
                </table><br /><br />
                Dates for Product Orders for Flights to Israel

                <br /><br />
                <table border="1" class="Table_information">
                    <tr>
                        <td>Flights from Europe to Israel</td>
                        <td class="secondChild">The Product must be ordered not later than 48 hours prior to the flight time.</td>
                    </tr>
                    <tr>
                        <td>
                            Flights from the Far East and South Africa

                        </td>
                        <td class="secondChild">
                            The Product must be ordered not later than 3 days prior to the date of the flight

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Flights from the U.S.A. and Canada

                        </td>
                        <td class="secondChild">
                            The Product must be ordered not later than 3 days prior to the date of the flight

                        </td>
                    </tr>
                </table>
            </p>

            <p>
                2.3        The name and the price of every product offered for sale is shown on the Site. There are photographs of the products. To avoid doubt it is stated that the photographs of the products that appear on the Site are for purposes of illustration only, and these products are not necessarily the products offered for sale on the aircraft nor are they necessarily similar to, or do they correspond to those that are sold on the aircraft.


            </p>
            <p>
                2.4        In order to execute the purchase of a product, select the desired product, the number of units and indicate if the payment will be in cash and/or cash and “Matmid Frequent Flyer” Club points and/or only from El Al’s “Matmid Frequent Flyer” Club points (hereinafter: the “points”). It is clarified that payment by means of the points will only be possible where the portion of the purchase that made by points exceeds 80 points. The next step is to enter the order number for the flight (PNR), and the full name of the passenger. The next stage is to indicate the flight number, the date of the flight, telephone number and the E-mail address for forwarding the purchase validation (receipt). Without these details we will not be able to deliver the product on the aircraft.

                In addition to the aforesaid, and in order to enjoy the benefit of ordering the product by points or by a combination of points, you are kindly requested to identify yourself with your Matmid Frequent Flyer Club member identification number and password. For your convenience, as soon as you enter the identifying details, the balance of the points which are at your disposal will appear. There may be a variation in the number of points due to deals that were made before logging on to the Site and before there was a chance to update them.

                For a purchase of “Gift/Celebration in the Sky”, please fill out the form that appears on the Site and indicate the personal name and last name, the flight number and the date of the flight of the passenger. In addition, please provide the telephone number, address and e-mail address in order to receive the confirmation order. Without these details we will not be able to deliver the product on the aircraft.

            </p>
            <p>2.5        Within the framework of Celebration in the Sky, various products may be ordered as detailed below: (1) Marriage Proposals – the product includes a bottle of wine, a box of chocolates, and a discount voucher for the purchase of duty-free products; (2) Birthdays – a bottle of wine, a box of chocolates and a discount voucher for the purchase of duty-free products; and (3) Various Products which consists of different duty-free products along with a box of chocolates.</p>
            <p>
                2.6        Due to space and weight limitations on the aircraft, we may not be able to respond to and fulfill large orders.

            </p>
            <p>
                2.7        In the event that there is a change in the type of aircraft or any change in the flight details of the passenger, the Site staff and/or El Al are not committed to fulfill the order.

            </p>


        </div>
        <h3><a href="#">3.      Receipt of the Order and Terms of Payment</a></h3>
        <div>
            <p>
                3.1        The prices of the products which are published on the Site shall determine the set price of the products.

            </p>
            <p>
                3.2        El Al Matmid Frequent Flyer Club members can purchase the products by means of points, or a combination of cash and points or for money.

            </p>
            <p>
                3.3        Multiple special offers and promotions are not valid.

            </p>
            <p>
                3.4        Upon the completion of the order, a purchase confirmation order along with the billing of the points used from your El Al Matmid Frequent Flyer Club account, if points were used, will be sent to the e-mail address that you indicated at the time of the order.

                Upon the completion of an order made through the Site including the purchase of “Gift/Celebration in the Sky”, a payment confirmation order will be sent by post to the address indicated at the time of the purchase order.
            </p>
            <p>
                3.5        Your order will wait for you on the aircraft subject to the available inventory. We apologize in advance if the Product is not on the flight or if it is out of stock. For the removal of any doubt, in the event that the Product is out of stock, the Site staff and/or El Al is not required to notify the passenger. In the event that the product is out of stock, or is not supplied to you on the flight, or should you decide not to complete the purchase of a specific product on the flight or should the purchase be cancelled, then you shall be credited for the points collected in advance from your El Al Matmid Frequent Flyer Club account in respect of the ordered product. In the case of a purchase by means of the Site of a “Gift/Celebration in the Sky” the credit card account of the customer purchasing the product shall be credited and also the passenger’s El Al Matmid Frequent Flyer Club account will be credited with the points collected in advance from, provided that the order for the product was made with points or with a combination of points.


            </p>
            3.6        Credited points in respect of the cancellation of the product ordered shall be credited to the member according to the original validity of his account.


            <p>
                3.7        Payment for the products on the Site will be executed solely by approved credit card.


            </p>
            <p>
                3.8        Payment by means of a credit card shall be charged only in New Israeli Shekels or U.S.A. Dollars.


            </p>
            <p>
                3.9        The exchange rate for foreign currency to Israeli Shekels is the selling rate of exchange for checks & transfers. the rate itself is updated weekly.


            </p>
            <p>
                3.10          The total cost paid in respect of the purchase of the products shall be indicated on the back of the receipt which shall be delivered to the passenger upon the completion of the purchase process.


            </p>
            <p>
                3.11          An El Al Matmid Frequent Flyer Club who purchases products to a value of $75 or more within the Gift/Celebration in the Sky framework shall accumulate points according to the accumulation chart below, in respect of the value of the product as it appears on the Site. The Points accumulated will be deemed Extra Points and shall be valid for 3 years.

                For a purchase of $75-$149 – 1 point for every $8 will be received;

                For a purchase of $150-$249 –1 point for every $7 will be received;

                For a purchase of $250-$349 –1 point for every $6 will be received;

                For purchases over $350 ––1 point for every $5 will be received.
            </p>
            <p>
                3.12.    If you do not have any points in your member account you will not be able to

                purchase the product by means of points and/or a combination of points.
            </p>
            <p>
                3.13.     The monetary value of a point shall be determined by the El Al Matmid

                Frequent Flyer Club and is subject to change from time to time.
            </p>
        </div>



        <h3>
            <a href="#">
                4.      Customer Service and Product Return Policy

            </a>
        </h3>
        <div>
            <p>
                4.1      In the event that you have any difficulties ordering the Duty-Free Products from the Site, you can contact the customer service center which operates Sundays – Thursdays between the hours 08:30 – 16:00, by telephone number 03-9717322, by fax number 03-9716298 or e-mail address: dutyfree@elal.co.il.

                <br />
                If you are interested in incorporating a marriage proposal in the “Celebration

                in the Sky” in your order then there are additional requirements for the implementation of the order and we will contact you for the purposes of choosing the method of making the proposal during the flight. It is hereby clarified that the responsibility for the performance of the proposal rests solely on the purchaser of the product for the proposal.



                It is hereby clarified that the purchase of a product within framework of the Celebration in the Sky is subject to El Al’s sole discretion. Furthermore, even after El Al’s authorization in principle of the implementation of the ordered product, the actual implementation shall be subject to the guidelines and authorization of the aircraft crew for the relevant flight and the flight conditions.
            </p>
            <p>
                4.2      All products on the Site have a one year warranty unless indicated otherwise on the Site and/or in the catalogue.

            </p>
            <p>
                4.3       The return of a product, with the exception of chocolate products, shall be permitted provided that it is in its original sealed packaging and only within 30 days from the date of purchase together with a copy of the receipt and only by registered mail addressed to:

                El Al Main Office, P.O. Box 41, BGA 7015001 next to the Duty Free department. It is the responsibility of the sender to ensure that the product is packaged well in order to avoid any damage during the delivery. Any product that is broken upon arrival shall be returned to the sender.




            </p>
            <p>
                4.4              Subject to the applicable law, the amount refunded will be subject to a deduction of 5% of the price of the product or NIS 100, whichever is lower.

            </p>
        </div>
        <h3>
            <a href="#">
                5.      Eligibility to Use the Site
            </a>
        </h3>
        <div>
            <p>
                Any user is permitted to use the Site and make any orders, subject to the fulfillment of the cumulative conditions detailed herein:

            </p>
            <p>
                5.1      The user or any individual for whom the product is being purchased is going to fly on a El Al, UP or Sun D'or flight within the next 30 days.


            </p>
            <p>
                5.2       The user is fit to execute legally binding acts. In the event that you are a minor (under the age of 18) or you are not eligible to execute any legally binding acts without the permission of your legal guardian, your use of the Site will be deemed to be in accordance with permission you obtained from your legal guardian.


            </p>
            <p>
                5.3      The user has an e-mail account.


            </p>
            <p>
                5.4      The sale of tobacco products and/or accessory products for the use of   tobacco to a minor and/or alcohol to minors (under the age of 18) will not be allowed. It is hereby clarified that to the extent that it is discovered that tobacco products and/or accessory products for the use of tobacco and/or alcohol has been purchased for a minor, the said product shall not be supplied and the relevant provisions concerning the return of products and crediting the account of the purchaser shall apply.


            </p>
        </div>
        <h3>
            <a href="#">
                6.      Additional Conditions


            </a>
        </h3>
        <div>
            <p>
                6.1      If an error is made in connection with the description of the product as it appears on the Site, or in the price of the product, then such mistake shall not oblige the Site or El Al.


            </p>
            <p>
                6.2      The Site and/or El Al and/or anyone on their behalf shall not be liable and shall not bear liability for any direct, indirect, consequential or special damages sustained by the user or any third party as a result of the use of the Site or of the placing of an order on the Site that is not in accordance and compliance with these Terms or Use, whatever the claim may be, and whatever the losses.


            </p>
            <p>
                6.3      It is hereby clarified that the sole responsibility for the personal property of a customer and/or passenger in everything concerning the services provided regarding the Gift/Celebration in the Sky is that of the passenger only, and El Al and the flight crew shall not bear any liability in connection therewith.


            </p>
        </div>
        <h3><a href="#">7.      Miscellaneous</a></h3>
        <div>
            <p>
                7.1        The liability is on the customer ordering Duty Free Products on the aircraft to  be familiar with all taxes and restrictions that are applicable in connection with the purchase of the products in the destination countries and the customer shall be solely liable therefor.

            </p>

            <p>
                7.2         The interpretation and enforcement of these Terms of Use and/or any act or dispute arising from them shall be in accordance with the laws of the State of Israel.

                .
            </p>

            <p>
                7.3       The competent Courts of Tel-Aviv – Jaffa shall have sole and exclusive jurisdiction to adjudicate any disputes concerning any product ordered and/or the services provided on the Site.


            </p>
            <p>
                7.4        From time to time, El Al may amend these Terms of Use in accordance with its sole discretion.


            </p>
        </div>
    </div>
    <br /><br />
    <b style="padding: 10px;">   E & OE   </b><br /><br />    <b style="padding: 10px;"> Enjoy your order and purchasing  </b>
}
<script>$(document).ready(function(){ $( "#accordion" ).accordion(); });</script>

<script type="text/javascript">

    
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function () {

            $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-chevron-down").removeClass("glyphicon-chevron-right");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).siblings(".panel-heading").addClass("current-selected");
            $(this).parent().find(".glyphicon").removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-down");
        }).on('hide.bs.collapse', function () {
            $(this).siblings(".panel-heading").removeClass("current-selected");
            $(this).parent().find(".glyphicon").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
        });
    });

    function close_modal_countries() {
        $('.bar-notification-countries').modal('toggle');
    }
</script>

