﻿@model CheckoutInformationModel
@using Nop.Web.Models.Customer;
@{

    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    string frequentFlyerUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ssoUrl" + ViewBag.LanguageName] + "CheckOutStartPage";
    var url = "";
    if (Model.totalCart == 0 && Convert.ToInt32(Model.totalPoints) > 0)
    {
        url = "Order/ConfirmPayment?csa_r=" + Model.Session;
    }
    else
    {
        url = "Customer/PaymentProcess";
    }

    System.Globalization.CultureInfo current = System.Threading.Thread.CurrentThread.CurrentCulture;
}


<form name="formCheck" id="formCheck" action="@url" method="post" enctype="application/x-www-form-urlencoded">
    @if (Model.totalCart > 0)
    {
        <input type="hidden" name="ConfirmationUrl" id="ConfirmationUrl" value="@Model.PaymentInfo.ConfirmationUrl?csa_r=@Model.Session" />
        <input type="hidden" name="FailedUrl" id="FailedUrl" value="@Model.PaymentInfo.FailedUrl" />
        <input type="hidden" name="KeepAliveSession" id="KeepAliveSession" value="@Model.PaymentInfo.KeepAliveSession" />
        <input type="hidden" name="Currency" id="Currency" value="@Model.PaymentInfo.Currency" />        
        <input type="hidden" name="DutyFreeItemId" id="DutyFreeItemId" value="1111" />
        <input type="hidden" name="PassengerFirstName" id="PassengerFirstName" value="@Model.FirstName" />
        <input type="hidden" name="PassengerLastName" id="PassengerLastName" value="@Model.FamilyName" />        
    }

    @if (current.Name == "he-IL")
    {
        <input type="hidden" name="Lang" id="Language" value="he" />
    }
    else
    {
        <input type="hidden" name="Lang" id="Language" value="en" />
    }

    <input type="hidden" name="FlightDate" id="FlightDate" value="" />
    <input type="hidden" name="FlightRoute" id="FlightRoute" value="" />
    <input type="hidden" name="FlightNumber" id="FlightNumber" value="" />
    <input type="hidden" name="Pnr" id="hdnPnr" value="@Model.Pnr" />
    <input type="hidden" name="FirstName" id="hdnFirstName" value="@Model.FirstName" />
    <input type="hidden" name="FamilyName" id="hdnFamilyName" value="@Model.FamilyName" />
    <input type="hidden" name="CodePhoneNumber" id="hdnCodePhoneNumber" value="" />
    <input type="hidden" name="PhoneNumber" id="hdnPhoneNumber" value="" />
    <input type="hidden" name="AdditionalCodePhoneNumber" id="hdnAdditionalCodePhoneNumber" value="" />
    <input type="hidden" name="AdditionalPhoneNumber" id="hdnAdditionalPhoneNumber" value="" />
    <input type="hidden" name="Email" id="hdnEmail" value="" />
    <input type="hidden" name="AcceptMail" id="hdnAcceptMerchandizeEmails" value="" />

</form>
<br /><br />
    <div class="content_check">
        <div class="check_login">
            <div class="login_table_group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cktnametable">
                    <div class="tittle_check">
                    <img src="~/Themes/ElalTheme/Content/images/billing_info.png">@T("Account.Login.BillingInformation")</div>
                </div>
                <div class="div_sub"> </div>
                <table cellspacing="6" cellpadding="6" align="center" class="login_table">
                    <tr>
                        <td cellpadding="4">
                            <table cellpadding="4" cellspacing="0" border="0" class="login_reserver">
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Pnr, new { }, ":")
                                        <br />
                                        <span class="small">@T("Account.Login.exppnr") @Html.RequiredHint()</span>
                                    </td>
                                    <td>
                                        @*@Html.TextBoxFor(model => model.Pnr, new { @Value = @Model.Pnr, @onchange = "SearchFlight()", @onkeypress = "SearchFlight()", onkeydown = "SearchFlight()" })*@
                                        <input type="text" id="Pnr" name="Pnr" value="@Model.Pnr" onchange="SearchFlight()" onkeypress="SearchFlight()" onkeydown="SearchFlight()" class="input_checkout" />
                                        &nbsp;&nbsp;<a href="#"><img id="img_tool_l" src="~/Content/skins/qm.gif" alt="@T("Account.Login.reserTool")" /></a>
                                        <div id="tooltipPnr">@T("Account.Login.reserTool")</div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.FirstName) : @Html.RequiredHint()
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => Model.FirstName, new { @Value = @Model.FirstName, @onchange = "SearchFlight()", @onkeypress = "SearchFlight()", onkeydown = "SearchFlight()", @class="input_checkout" })

                                        @Html.ValidationMessageFor(model => Model.FirstName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.FamilyName) : @Html.RequiredHint()
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.FamilyName, new {@Value = @Model.FamilyName, @onchange = "SearchFlight()", @onkeypress = "SearchFlight()", onkeydown = "SearchFlight()", @class = "input_checkout" })
                                        @Html.ValidationMessageFor(model => model.FamilyName)
                                    </td>
                                </tr>
                                @if (string.IsNullOrWhiteSpace(Model.Points))
                            {
                            <tr>
                                <td>
                                    <input class="sub_log_exit" type="button" id="close" value="@T("Account.Login.exit")" />
                                </td>
                            </tr>
                            }
                            </table>
                        </td>
                        <td cellpadding="2">
                            <table cellpadding="2" cellspacing="0" border="0" class="login_reserver">
                                <tr>
                                    <td>
                                        @Html.Partial("_FrequentFlyerLogin", Model, new ViewDataDictionary { { "FrequentFlyerUrl",frequentFlyerUrl} })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table cellpadding="10" cellspacing="0" border="0" class="checkc_tels_adddress">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PhoneNumber, new { }, ":")<span class="mark">*</span>
                        </td>
                        <td class="input_rtl">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @Value = @Model.PhoneNumber, @class = "input_checkout" })
                        </td>
                        <td class="required_phone">
                            <i class="fa fa-ban"></i>
                            <span>@T("RequiredField")</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.AdditionalPhoneNumber, new { }, ":")
                        </td>
                        <td class="input_rtl">
                            @Html.TextBoxFor(model => model.AdditionalPhoneNumber, new { @Value = @Model.AdditionalPhoneNumber, @class = "input_checkout" })
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Email, new { }, ":")<span class="mark">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Email, new { @Value = @Model.Email, @class = "input_checkout" })
                        </td>
                        <td class="emailnull">
                            <i class="fa fa-ban"></i>
                            <span><b>@T("RequiredField")</b></span>
                        </td>
                        <td class="emailInvalid">
                            <i class="fa fa-ban"></i>
                            <span>
                                <b>@T("InvalidEmail")</b>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <script type="text/javascript">
                            $(document).ready(function () {
                                $('#register-button').click(function () {
                                    if ($('#accept-privacy-policy').is(':checked')) {
                                        //do some stuff
                                        return true;
                                    }
                                    else {
                                        //just show validation errors, dont post
                                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                            </script>


                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="login_table_group">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cktnametable">
                        <div class="tittle_check">
                            <img src="~/Themes/ElalTheme/Content/images/fly_info.png">@T("Account.Login.FlightInformation")
                        </div>
                    </div>
                    <div class="div_sub"> </div>

                    <span class="bold"> @T("Account.selec.flight")</span>
                    <table border="0" cellpadding="5" cellspacing="0" align="center" width="690" class="cart ">
                        <tr class="thFlights">
                            <th width="75">
                            </th>
                            <th width="240">
                                @T("Account.Login.FlightNumber")
                            </th>
                            <th width="200">
                                @T("Account.Login.FlightDate")
                            </th>
                            <th>
                                @T("Account.Login.Route")
                            </th>
                        </tr>
                        @if (Model.PnrFlight.Any())
                        {
                            foreach (var item in Model.PnrFlight)
                            {

                                <tr class="newflights">
                                    <td width="75">
                                        <label for="FlightRoute_@item.FlightNumber" class="offscream">@item.FlightNumber @item.Departure.ToString("dd/MM/yyyy HH:mm:ss")</label>
                                        <input type="radio" id="FlightRoute_@item.FlightNumber" class="FlightRoute" name="Fligth" onchange="SetflightNumber('@item.FlightNumber','@item.Departure.ToString("dd/MM/yyyy HH:mm:ss")','@item.FlightNumber')" value="@((@item.OriginAirport+"-"+@item.DestinationAirport).Trim())" />
                                    </td>
                                    <td width="240">
                                        @item.FlightNumber
                                    </td>
                                    <td width="200">
                                        @item.Departure.ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                    <td>
                                        @item.OriginAirport - @item.DestinationAirport
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td width="75" colspan="4">
                                    <div id="message">@T("account.login.notflights")</div>
                                </td>
                            </tr>
                        }

                    </table>

                    <div class="req_fli">
                        <i class="fa fa-ban"></i>
                        <span><b >@T("RequiredField")</b></span>
                    </div>
                </div>

            <br style="clear:both" />
            <div class="login_table_group">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cktnametable">
                    <div class="tittle_check">
                        <img src="~/Themes/ElalTheme/Content/images/cart.png" width="22" height="22">@T("Account.Login.orderinformation")
                    </div>
                </div>
                <div class="div_sub"> </div>

                @Html.Action("OrderSummaryOnePage", "ShoppingCart")
                @Html.Action("OrderTotalsOnePage", "ShoppingCart", new { isEditable = false })
                <br />
            </div>

                <table cellpadding="10" cellspacing="0" border="0" class="checkc_tels_adddress">
                    <tr>
                        <td>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#register-button').click(function () {
                                        if ($('#accept-privacy-policy').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        }
                                        else {
                                            //just show validation errors, dont post
                                            alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                            </script>


                        </td>
                        <td></td>
                    </tr>
                </table>

                <div class="accept-privacy-policy">
                    <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                    <label for="accept-privacy-policy">@T("Account.Login.IHaveReadThe")</label>
                    <a class="read" target="_blank" href='~/t/Information'>@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                </div>
                <br />
                <span class="bold">
                    @T("Account.Login.AgreeToSendEmailsProposal")
                </span>
                <br />
                @Html.CheckBoxFor(model => model.AcceptMerchandizeEmails) @T("Account.Login.AgreeToSendEmails")
                <div id="messages"></div>
            </div>

        <br style="clear:both" />

        <div class="buttons_cofirm">
            <a href="~/cart" class="return_basket"><div class="sub_log_exit" style="height: 13px !important; width: 100px;">@T("Account.Login.returnBasket")</div></a>
            @if (!string.IsNullOrWhiteSpace(Model.Points) && Convert.ToInt32(Model.Points) >= Model.totalPoints)
            {
                <input class="submit_order" id="paymentButton" type="button" onclick="ValidateFields()" value="@T("Account.Login.continue")"  />
            }
            else
            {
                if (Convert.ToInt32(Model.totalPoints) == 0)
                {
                    <input class="sub_log_exit" id="paymentButton" type="button" onclick="ValidateFields()" value="@T("Account.Login.continue")" />
                }
                else
                {
                    if (Model.loginType == 0 && Convert.ToInt32(Model.totalPoints) > 0)
                    {
                        <div id="message">@T("Account.Login.YouCantPaidPoints")</div>
                    }
                    else
                    {
                        <div id="message">@T("Account.Login.YouDontHaveEnoughtPoints")</div>
                    }
                }
            }
            <!--<a  onclick="location.href='/checkout'"><div class="submit_order"></div></a>-->
        </div>
    </div>
@*</form>*@

       

<script>
    $(document).ready(function () {

        $('#tooltipPnr').hide();
        $("#img_tool_l")
          .mouseover(function () {
              $('#tooltipPnr').show();
          })
          .mouseout(function () {
              $('#tooltipPnr').hide();
          });


        $('#tooltipFlyer').hide();
        $("#img_tool_r")
          .mouseover(function () {
              $('#tooltipFlyer').show();
          })
          .mouseout(function () {
              $('#tooltipFlyer').hide();
          });

    });

    if ($("#Pnr").val() != "") {
        SearchFlight();
    }

    function ValidateFields() {

        var pnr = $("#hdnPnr").val();
        var FirstName = $("#FirstName").val();
        var FamilyName = $("#FamilyName").val();
        var PhoneNumber = $("#PhoneNumber").val();
        var AdditionalPhoneNumber = $("#AdditionalPhoneNumber").val();
        var Email = $("#Email").val();
        var acceptprivacypolicy = ($('#accept-privacy-policy') ? 'checked' : 'unchecked');
        var FlightRoute = ($('.FlightRoute') ? 'checked' : 'unchecked');

        var CheckcFlightRoute = $("#FlightRoute").val();
        var AcceptMerchandizeEmails = $('#AcceptMerchandizeEmails').is(':checked');

        // Set value into the hidden controls.
        $("#hdnFirstName").val(FirstName);
        $("#hdnFamilyName").val(FamilyName);
        $("#hdnPhoneNumber").val(PhoneNumber);
        $("#hdnAdditionalPhoneNumber").val(AdditionalPhoneNumber);
        $("#hdnEmail").val(Email);
        $("#hdnAcceptMerchandizeEmails").val(AcceptMerchandizeEmails);
                
        var error = 0;
        var messages = "";

        if (pnr == "") {
            $("#Pnr").addClass("required_box");
            error++;
            messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.pnrNull").Text)) <br/>";
        } else {
            if (pnr.length < 6) {
                $("#Pnr").addClass("required_box");
                error++;
                messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.pnrNumberIncomplete").Text)) <br/>";
            }
        }
        if (FirstName == "") {
            $("#FirstName").addClass("required_box");
            error++;
            messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.FirstNameNull").Text)) <br/>";
        }
        if (FamilyName == "") {
            $("#FamilyName").addClass("required_box");
            error++;
            messages = "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.FamilyNameNull").Text)) <br/>";
        }
        if (PhoneNumber == "") {
            $("#PhoneNumber").addClass("required_box");
            $(".required_phone").css("display", "block");
            error++;
            //messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.PhoneNumberNull").Text)) <br/>";
        }

        if (Email == "") {
            $("#Email").addClass("required_box");
            $(".emailnull").css("display", "block");
            $(".emailInvalid").css("display", "none");
            error++;
            //messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.EmailNull").Text)) <br/>";
        } else {
            if (!validateEmail(Email)) {
                $("#Email").addClass("required_box");
                $(".emailnull").css("display", "none");
                $(".emailInvalid").css("display", "block");
                
                error++;
                //messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.EmailInvalid").Text)) <br/>";
            }
        }

        if (CheckcFlightRoute == "") {
            $(".newflights td").addClass("required_box");
            $(".req_fli").css("display", "block");
            error++;
            //messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.CheckcFlightRouteNull").Text)) <br/>";
        }

        if (!$('#Fligth').is(':checked')) {
            //$("#FlightRoute").addClass("required");
            // error++;
            //messages+= "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.FlightRouteNull").Text)) <br/>";
        }
        if (!$('#accept-privacy-policy').is(':checked')) {
            $(".accept-privacy-policy label").css("color", "red");
            error++;
            messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.acceptprivacypolicy").Text)) <br/>";
        } else {
            $(".accept-privacy-policy label").css("color", "#0D004C");
        }
		$("#Amount").val(Number($("#TAmount").val().replace(/[^0-9\.]+/g,"")));

        if (error > 0) {
            $("#messages").html(messages);
            return false;
        } else {
            $.ajax({
                url: "/Customer/SetCustomerInfo",
                data: $("#formCheck").serialize(),
                type: "POST",
                success: function (data) {
                    $("#formCheck").submit();
                }, 
                beforeSend: function () {
                    $("#paymentButton").prop('disabled', true); // disable button
                },
            });
        }
    }

    function SearchFlight() {

        var pnr = $("#Pnr").val();
        var FamilyName = $("#FamilyName").val();

        var PassengerFirstName = $("#PassengerFirstName").val();
        var FirstName = $("#FirstName").val();
        $("#PassengerFirstName").val(FirstName);
        var PassengerLastName = $("#PassengerLastName").val();
        var FamilyName = $("#FamilyName").val();
        $("#PassengerLastName").val(FamilyName);

        $("#Pnr").val(pnr);
    }

    function validateEmail(email){
        //var regex = /^([a-zA-Z0-9_.+-])+@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        var regex = new RegExp("^(?:[\\w\\!\\#\\$\\%\\&\\''\\*\\+\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~]+\\.)*[\\w\\!\\#\\$\\%\\&\\'\\*\\+\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~]+@@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9\\-](?!\\.)){0,61}[a-zA-Z0-9]?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\\-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\\[(?:(?:[01]?\\d{1,2}|2[0-4]\\d|25[0-5])\\.){3}(?:[01]?\\d{1,2}|2[0-4]\\d|25[0-5])\\]))+$");
        return regex.test(email);
    }
</script>
<script type="text/javascript" >
    function SetflightNumber(value, date, number) {

        //alert($('#FlightRoute_' + number).val() + ' ' + ($('#FlightRoute_' + number) ? 'checked' : 'unchecked'));
        
        // When the hebrew, Change the date format as "MM/DD/YYYY"
        //if ($("#Language").val() == "he")
        //{
            spDate = date.split('/');
            Fldate = spDate[1] + "/" + spDate[0] + "/" + spDate[2];
        //}

        //alert(date);
        
        // Check flight date - can select after the today
        var today = new Date();
        var flightDate = new Date(Fldate);

        var d = today.getDate()+3;
        var m = today.getMonth() + 1;
        var y = today.getFullYear();

        var dd = flightDate.getDate();
        var mm = flightDate.getMonth() + 1;
        var yy = flightDate.getFullYear();

        todayFormate = new Date(y, m, d);
        flightDateFormate = new Date(yy, mm, dd);
        $("#FlightRoute").val($('#FlightRoute_' + number).val());
        $("#FlightNumber").val("0" + value);

        //aux = date;
        //dateDeparture = aux.split(" ");
        
        //$("#FlightDate").val(dateDeparture[0]);
        $("#FlightDate").val(date);
        //$("#FlightDate").val(Fldate);

        $("#chaeck_date").val();

    }

</script>