﻿@model CheckoutInformationModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.Login").Text);
    string frequentFlyerUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ssoUrl" + ViewBag.LanguageName] + "Login";
    string forceSsoLoginUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ForceSsoLoginUrl" + ViewBag.LanguageName] + "Login";
    var sessionT = EngineContext.Current.Resolve<HttpSessionStateBase>();
    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }
}

@Html.ValidationMessage("")
<form method="post" action="~/login" onsubmit="return validateFields()" novalidate="novalidate" name="pnrForm" id="pnrForm">
    <h1 class="check_section">@T("Account.Login.Welcome")</h1>
    @Html.HiddenFor(m => m.FlyerSessionId)
    @Html.HiddenFor(m => m.FlyerMember)
    @Html.HiddenFor(m => m.FlyerMemberName)
	@Html.HiddenFor(m => m.Points)

    <table cellspacing="6" cellpadding="6" align="center" class="login_table login_info" style="float: left">
        <tr>
            <td>
                <table cellpadding="5" cellspacing="0" border="0" class="login_reserver">
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Pnr, new {}, ":")
                            <br/>
                            <span class="small">@T("Account.Login.exppnr") @Html.RequiredHint()</span>
                        </td>
                        <td style="position: relative">
                            @Html.TextBoxFor(m => m.Pnr)

                            &nbsp;&nbsp;<a href="#"><img id="img_tool_l" src="~/Content/skins/qm.gif" alt="@T("Account.Login.reserTool")" /></a>
                            <div id="tooltipPnr">@T("Account.Login.reserTool")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.FirstName, new {}, ":") @Html.RequiredHint()

                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.FirstName)


                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.FamilyName, new {}, ":") @Html.RequiredHint()
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.FamilyName)

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="continue_ck">
                    <input class="sub_log_freq" type="submit" value="@T("checkout.thankyou.continue")"/>
                </div>
            </td>
        </tr>
    </table>
</form>
@Html.Partial("_FrequentFlyerLogin", Model, new ViewDataDictionary { { "ForceSsoLogin", ViewBag.ForceSsoLogin }, { "FrequentFlyerUrl",frequentFlyerUrl}, { "ForceSsoLoginUrl" , forceSsoLoginUrl } })


<div id="messages"></div>
<div id="preloaderpf" style="display: none; margin-left: 450px;">
    <img src="Themes/DefaultClean/Content/images/loading.gif" id="preloader_image_load" style="width:50px; height:50px" alt="" />
</div> <!-- #preloader -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#tooltipPnr').hide();
        $("#img_tool_l")
          .mouseover(function () {
              $('#tooltipPnr').show();
          })
          .mouseout(function () {
              $('#tooltipPnr').hide();
          });

        $('#tooltipFlyer').hide();
        $("#img_tool_r")
          .mouseover(function () {
              $('#tooltipFlyer').show();
          })
          .mouseout(function () {
              $('#tooltipFlyer').hide();
          });

    });
    function validateFields() {

        var Pnr = $("#Pnr").val();
        var FirstName = $("#FirstName").val();
        var FamilyName = $("#FamilyName").val();
        var error = 0;
        var messages = "";

        if (Pnr == "") {
            $("#Pnr").addClass("required");
            error++;
            messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.pnrNull").Text)) <br/>";
        } else {
            if (Pnr.length < 6) {
                $("#Pnr").addClass("required");
                error++;
                messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.pnrNumberIncompleto").Text)) <br/>";
            }
        }
        if (FirstName == "") {
            $("#FirstName").addClass("required");
            error++;
            messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.FirstNameNull").Text)) <br/>";
        } else {
        }
        if (FamilyName == "") {
            $("#FamilyName").addClass("required");
            error++;
            messages += "@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Login.FamilyNameNull").Text)) <br/>";
        } else {
        }

        if (error > 0) {
            $("#messages").html(messages);
            return false;
        } else
            $("#messages").html("");
        return true
    }
</script>