﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    
}
<script src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />
@model IList<ProductOverviewModel>
@using Nop.Core;
@using System.Globalization
@using System.Threading
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{
    CultureInfo current2 = Thread.CurrentThread.CurrentCulture;
    int i = 0;

    var linkBanner9= "";
    var thumbBanner9 = "";

    var linkBanner10 = "";
    var thumbBanner10 = "";

    var linkBanner11 = "";
    var thumbBanner11 = "";

    var linkBanner12 = "";
    var thumbBanner12 = "";

    var linkBanner13 = "";
    var thumbBanner13 = "";

    var linkBanner14 = "";
    var thumbBanner14 = "";

    var linkBanner15 = "";
    var thumbBanner15 = "";

    var linkBanner16 = "";
    var thumbBanner16 = "";

    if (current2.Name == "he-IL")
    {
        //linkBanner9 = ViewBag.Link15;
        thumbBanner9 = "/dutyfree-elal/Content/Images/banners/0002363.png";

        //linkBanner10 = ViewBag.Link17;
        thumbBanner10 = "/dutyfree-elal/Content/Images/banners/0002365.jpeg";

        //linkBanner11 = ViewBag.Link19;
        thumbBanner11 = "/dutyfree-elal/Content/Images/banners/0002385.jpeg";

        //linkBanner12 = ViewBag.Link21;
        thumbBanner12 = "/dutyfree-elal/Content/Images/banners/0002387.jpeg";

        //linkBanner13 = ViewBag.Link22;
        thumbBanner13 = "/dutyfree-elal/Content/Images/banners/0002361.png";

        //linkBanner14 = ViewBag.Link23;
        thumbBanner14 = "/dutyfree-elal/Content/Images/banners/0002389.jpeg";

        //linkBanner15 = ViewBag.Link24;
        thumbBanner15 = "/dutyfree-elal/Content/Images/banners/0002390.jpeg";

        //linkBanner16 = ViewBag.Link25;
        thumbBanner16 = "/dutyfree-elal/Content/Images/banners/0002391.jpeg";
    }
    else
    {
        //linkBanner9 = ViewBag.Link15;
        thumbBanner9 = "/dutyfree-elal/Content/Images/banners/0002363.png";

        //linkBanner10 = ViewBag.Link17;
        thumbBanner10 = "/dutyfree-elal/Content/Images/banners/0002365.jpeg";

        //linkBanner11 = ViewBag.Link19;
        thumbBanner11 = "/dutyfree-elal/Content/Images/banners/0002385.jpeg";

        //linkBanner12 = ViewBag.Link21;
        thumbBanner12 = "/dutyfree-elal/Content/Images/banners/0002387.jpeg";

        //linkBanner13 = /dutyfree-elalViewBag.Link22;
        thumbBanner13 = "/dutyfree-elal/Content/Images/banners/0002361.png";

        //linkBanner14 = ViewBag.Link23;
        thumbBanner14 = "/dutyfree-elal/Content/Images/banners/0002389.jpeg";

        //linkBanner15 = ViewBag.Link24;
        thumbBanner15 = "/dutyfree-elal/Content/Images/banners/0002390.jpeg";

        //linkBanner16 = ViewBag.Link25;
        thumbBanner16 = "/dutyfree-elal/Content/Images/banners/0002391.jpeg";
    }


}
@using System 
@using Nop.Web.Framework.UI
<div class="breadcrumb"><a class="titleElal" href="@Url.RouteUrl("HomePage")">@T("general.page.name") > </a> Fly&Buy</div>

<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("HomepageCategories", "Catalog")
    </div>
</div>
<div class="wrapper" style="height: 600px">
    @if (Model.Count > 0)
    {
        var banner = "";
        var link = "";
        //add main CSS file
        var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
        CultureInfo current = Thread.CurrentThread.CurrentCulture;
        if (supportRtl)
        {

            banner = ViewBag.Picture_he;
            link = ViewBag.Link_he;
        }
        else
        {
            if (current.Name == "he-IL")
            {
                banner = ViewBag.Picture_he;
                link = ViewBag.Link_he;
            }
            else
            {

                banner = ViewBag.Picture_en;
                link = ViewBag.Link_en;
            }
        }

        <div class="sub2">
            @if (!string.IsNullOrEmpty((banner)))
            {<div class="banner2">
                <a class="nivo-imageLink" href="@link">
                    <img title="" alt="@T("wcag.home.index.gift.alt")" data-transition="" data-thumb="@Url.Content(@banner)" src="@Url.Content(@banner)" style="width: 250px; height: 325px; display: inline;">
                </a>
            </div> }
            <div class="best_sel">
                <div class="title_best">@T("products.NewProductsfor") @T("month." + ViewBag.months) </div>
                @foreach (var item in Model)
                {
                    //prepare "Add to cart" AJAX link
                    string addtocartlink = "";
                    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
                    var quantity = 1;
                    if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
                    {
                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart });
                    }
                    else
                    {
                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
                    }
                    <div class="best_product">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">

                            <div class="best_prod_box">
                                <img width="105" height="115" alt="@item.DefaultPictureModel.AlternateText" src="@Url.Content(@item.DefaultPictureModel.ImageUrl)" title="@item.DefaultPictureModel.Title" />
                            </div>
                        </a>
                        <div class="buy_now">
                            <div class="name_re">
                                <a href="#" class="tittle_list">@item.manufacturer.Manufacturer.Name</a>
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })"><div class="name_item">@item.Name</div></a>
                            </div>

                            <span class="price_news">
                                <div class="bold">
                                    <!--<div class="add-info">-->
                                    @if (!String.IsNullOrEmpty(@item.ProductPrice.OldPrice))
                                    {
                                        <span class="price old-price">@item.ProductPrice.OldPrice</span><br />
                                    }
                                    else
                                    { <br />   }
                                </div>
                                <label class="signoDolar"> $</label> @item.ProductPrice.Price

                                <br />
                                <label class="signoDolar">$</label> @item.ProductPrice.PointsPrice
                                <label> + </label>
                                @item.ProductPrice.Points @T("rewardpoints.fields.points")

                                <br />
                                @item.ProductPrice.OnlyPoints @T("rewardpoints.fields.points")
                            </span>
                            <br />

                            <div class="buttons">

                                @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                                @if (!item.ProductPrice.DisableBuyButton)
                                {
                                    <a class="ui-button-text ui-button" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                        @T("products.details")
                                    </a>
                                    @*<input type="button" value="@(item.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="ui-button-text ui-button button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
                                    <a class="ui-button-text ui-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;"> @(item.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))</a>
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
        <br style="clear:both" />

    }

    <div class="banner_gift">

        @*<a class="nivo-imageLink" href="">
            <img width="274" height="580" title="" alt="@T("wcag.home.index.gift.alt")" src="~/Themes/ElalTheme/Content/images/banners1.png" class="banner_gif">
        </a>*@

        <div class="container_slider">
            <div id="basicSlider">
                <div class="MS-content">
                    <div class="item" >
                        <div class="banner_footer_home">
                            <a class="nivo-imageLink" href="">
                                <img width="90%" height="557" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner9" style="margin-top: 20px;">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="banner_footer_home">
                            <a class="nivo-imageLink" href="">
                                <img width="90%" height="557" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner10" style="margin-top: 20px;">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="banner_footer_home">
                            <a class="nivo-imageLink" href="">
                                <img width="90%" height="557" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner11" style="margin-top: 20px;">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="banner_footer_home">
                            <a class="nivo-imageLink" href="">
                                <img width="90%" height="557" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner12" style="margin-top: 20px;">
                            </a>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    @if (ViewBag.popularProd.Count > 0)
    {
        <div class="sub3 mostpopularproduct">
            <div class="new_prod_div">
                @if (current2.Name == "en-US")
                {
                    <h2 class="title_best "><img src="~/Content/Images/line1.png" /> @T("products.mustbeinterested") <img src="~/Content/Images/line2.png" /></h2>
                }
                else
                {
                    <h2 class="title_best "><img src="~/Content/Images/line2.png" /> @T("products.mustbeinterested") <img src="~/Content/Images/line1.png" /></h2>
                }


                <div class="">
                    <div class="">

    @foreach (var item in ViewBag.popularProd)
    {
        if (i < 3)
        {
            //prepare "Add to cart" AJAX link
            string addtocartlink1 = "";
            var shoppingCartTypeId1 = (int)ShoppingCartType.ShoppingCart;
            var quantity1 = 1;

            //  HttpRequest request = Url.ActionContext.HttpContext.Request;
            // return new Uri(new Uri(Request.Scheme + "://" + Request.Host.Value), url.Content(contentPath)).ToString();

            if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
            {
                addtocartlink1 = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart }, Request.Url.Scheme);

                //Url.RouteUrl("Default", new RouteValueDictionary(new { action = "addproducttocart", controller = "catalog", productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart }), "http", Request.Url.Scheme);
            }
            else
            {
                //addtocartlink1 = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, }, "http");
                addtocartlink1 = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, }, Request.Url.Scheme);
                //  Url.RouteUrl("Default", new RouteValueDictionary(new { action = "addproducttocart", controller = "catalog", productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1 }), "http", Request.Url.Scheme);
            }


            <div class="new_product" id="product_@i">

                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">

                    <div class="best_prod_box">
                        <img width="105" height="115" alt="@item.DefaultPictureModel.AlternateText" src="@Url.Content(@item.DefaultPictureModel.ImageUrl)" title="@item.DefaultPictureModel.Title" />
                    </div>
                </a>

                <div class="buy_now">
                    <div class="name_re">
                        @if (!String.IsNullOrEmpty(item.manufacturer.Manufacturer.Name))
                        {
                            <a class="tittle_list" href="@Url.RouteUrl("Category", new { SeName = item.SeName })">@item.manufacturer.Manufacturer.Name </a>
                        }
                        else
                        {
                            <span><br /></span>
                        }
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })"><div class="name_item">@item.Name</div></a>

                        <br />
                    </div>
                    <div class="price_list_mod">
                        <span class="price_news">
                            <!--<div class="add-info">-->
                            <div class="prices">
                                @if (!String.IsNullOrEmpty(item.ProductPrice.OldPrice))
                                {
                                    @item.ProductPrice.Price <span> - @T("Catalog.Product.YouSave") @item.ProductPrice.Save</span>
                                }
                                else
                                {  <sup class="signoDolar">$</sup>@item.ProductPrice.Price  }
                            </div>

                            <label>@T("admin.telerik.gridlocalization.filteror")</label>
                            <sup class="signoDolar">$</sup> @item.ProductPrice.PointsPrice
                            <label> + </label>
                            @item.ProductPrice.Points <sup class="subpoints">
                                @T("rewardpoints.fields.points")
                            </sup>
                            <br />
                            <label>@T("admin.telerik.gridlocalization.filteror")</label>
                            @item.ProductPrice.OnlyPoints <sup class="subpoints">@T("rewardpoints.fields.points")</sup>
                        </span>

                    </div>

                    <div class="buttons">
                        @if (!item.ProductPrice.DisableBuyButton)
                        {
                            @*<input type="button" value="@(item.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="ui-button-text ui-button button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
                            @*<a class="ui-button-text ui-button" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                    @T("products.details")
                                </a>*@
                            <a class="ui-button-text ui-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink1');return false;"> @(item.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))</a>
                        }
                    </div>          

            </div>
                </div>

            i++;
        }
    }
                    </div>
                </div>
            </div>
        </div>

    }


    @*<div class="banner_footer_home">
        <a class="nivo-imageLink" href="">
            <img width="100%" height="194" title="" alt="@T("wcag.home.index.gift.alt")" src="~/Themes/ElalTheme/Content/images/banner_footer_home.png" style="margin-top: 20px;">
        </a>
    </div>*@
</div>

    <script type="text/javascript">
 @{
     if(current2.Name == "he-IL"){
         <text>
        //// Most popular
        var j = 0;
        var liM = new Array();
        $('.popularItem').each(function (indice, elemento) {
            //alert($(elemento).html());
            liM[j] = $(elemento).html();
            j++;
        });

        var lM = $('.popularItem').length;
        $(".jcarousel2 ul").html("");

        for (var i = lM - 1; i >= 0; i--) {
            $("#car2").append("<li>" + liM[i] + "</li>");
        }
        $("#car2").append("<li class=\"li_none\"></li><li class=\"li_none\"></li><li class=\"li_none\"></li>");
        </text>
    }
    }
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
    <script type="text/jscript">
        (function ($) {
            $(function () {
                //$('.jcarousel').jcarousel();
                $('.jcarousel2').jcarousel();

                $('.jcarousel-control-prev2')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel2').jcarousel(
                     @{
                     if(current2.Name == "he-IL"){
                <text>
                        'scroll', lM - 2, true
                     </text>
            }
        }
                 );

                $('.jcarousel-control-next2')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });
            });
            $(".jcarousel-wrapper").hide();
        })(jQuery);
    </script>


    <div class="container_slider">
        <div id="mixedSlider">
            <div class="MS-content">
                <div class="item">
                    <div class="banner_footer_home">
                        <a class="nivo-imageLink" href="">
                            <img width="100%" height="194" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner13" style="margin-top: 20px;">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="banner_footer_home">
                        <a class="nivo-imageLink" href="">
                            <img width="97%" height="194" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner14" style="margin-top: 20px;">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="banner_footer_home">
                        <a class="nivo-imageLink" href="">
                            <img width="97%" height="194" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner15" style="margin-top: 20px;">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="banner_footer_home">
                        <a class="nivo-imageLink" href="">
                            <img width="97%" height="194" title="" alt="@T("wcag.home.index.gift.alt")" src="@thumbBanner16" style="margin-top: 20px;">
                        </a>
                    </div>
                </div>

            </div>
            @*<div class="MS-controls">
                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>*@
        </div>
    </div>
    <script src="~/Scripts/includes/multislider.js"></script>
    <script>
        $('#basicSlider').multislider({
            duration: 10,
            interval: 6000
        });
        $('#mixedSlider').multislider({
            duration: 10,
            interval: 6000
        });

        $('#basicSlider_left').multislider({
            duration: 10,
            interval: 6000
        });
        $('#mixedSlider_left').multislider({
            duration: 10,
            interval: 6000
        });
    </script>


    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

