﻿@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel

@using Nop.Core
@using Nop.Services.Helpers
@using Nop.Web.Framework.UI
@inject IWorkContext workContext
@inject IUserAgentHelper userAgentHelper

@{
    Layout = "";

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/custom/custom.css");
}

<div class="slider-wrapper theme-custom">
    <div id="nivo-slider" class="nivoSlider">
        @{
            var dataSlide1 = new ViewDataDictionary(ViewData)
                {
                {"pictureUrl", Model.Picture1Url},
                { "text", Model.Text1},
                { "link", Model.Link1},
                {"alttext", Model.AltText1 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.NivoSlider/Views/_PublicInfo.SliderLine.cshtml", dataSlide1)
        }

        @{
            var dataSlide2 = new ViewDataDictionary(ViewData)
                {
                {"pictureUrl", Model.Picture2Url},
                { "text", Model.Text2},
                { "link", Model.Link2},
                {"alttext", Model.AltText2 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.NivoSlider/Views/_PublicInfo.SliderLine.cshtml", dataSlide2)
        }

        @{
            var dataSlide3 = new ViewDataDictionary(ViewData)
                {
                {"pictureUrl", Model.Picture3Url},
                { "text", Model.Text3},
                { "link", Model.Link3},
                {"alttext", Model.AltText3 },
                { "dataTransition", "slideInLeft"}
            };

            @await Html.PartialAsync("~/Plugins/Widgets.NivoSlider/Views/_PublicInfo.SliderLine.cshtml", dataSlide3)
        }

        @{
            var dataSlide4 = new ViewDataDictionary(ViewData)
                {
                {"pictureUrl", Model.Picture4Url},
                { "text", Model.Text4},
                { "link", Model.Link4},
                {"alttext", Model.AltText4 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.NivoSlider/Views/_PublicInfo.SliderLine.cshtml", dataSlide4)
        }

        @{
            var dataSlide5 = new ViewDataDictionary(ViewData)
                {
                {"pictureUrl", Model.Picture5Url},
                { "text", Model.Text5},
                { "link", Model.Link5},
                {"alttext", Model.AltText5 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.NivoSlider/Views/_PublicInfo.SliderLine.cshtml", dataSlide5)
        }
    </div>

    @if (workContext.WorkingLanguage.Name == "Hebrew")
    {
        <div class="banner_gift-buy">
            <img title="" alt="@T("wcag.home.index.gift.alt")" data-transition="" data-thumb="@Url.Content(@Model.Picture6Url)" src="@Url.Content(@Model.Picture6Url)" class="banner_gif">
            <br />
            <a class="nivo-imageLink buttonBannerGif" target="_blank" href="@Model.Link6">
                @T("home.gift.catalog")
            </a>
        </div>
    }
    else
    {
        <div class="banner_gift-buy">
            <img title="" alt="@T("wcag.home.index.gift.alt")" data-transition="" data-thumb="@Url.Content(@Model.Picture5Url)" src="@Url.Content(@Model.Picture5Url)" class="banner_gif">
            <br />
            <a class="nivo-imageLink buttonBannerGif" href="@Model.Link5" target="_blank">
                @T("home.gift.catalog")
            </a>
        </div>
    }
</div>
<script asp-location="Footer">
    $(window).on('load', function () {
        $('#nivo-slider').nivoSlider();
    });
</script>