﻿@model FooterModel
@using Nop.Web.Models.Common;

<br />

<div class="footer_menu_1">
    <div class="namedfass" style="text-align: center;">

        <a href="http://3sixtydutyfree.com/" target="_blank">
            <img class="" src="/dutyfree-elal/Content/Images/logodfass.png" style="    width: 150px;    height: 84px;margin-top: 0;margin-left: 2px;"><br />
            <span>@T("footer.poweredbyDfass")</span>
        </a>
    </div>
    <br />
    <div class="footer_menu">
        <div class="footerLinks">
            @*@Html.Action("TopMenu", "Catalog", new { isFooter = true })*@
            <div class="footer_info_items">
                <a href="/information/index">@T("Header.Information")</a>
                <a href="~/t/Orderingtimes">@T("Header.Orderingtimes")</a>
                
                <a class="" href="~/t/FrequentFlyer">@T("Header.FrequentFlyer")</a>
                <a href="~/t/GiftIntheSky">@T("Header.WhatGiftSky")</a>
                <a href="~/t/Contact">@T("Header.ContactUs")</a>
            </div>
        </div>
        <div id="footer_hr">
            <hr />
        </div>

        <div class="footer">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


            
            <ul class="sherIcons">
                <li><a target="_blank" title="instagram Link" href="https://www.linkedin.com/company/3sixtydutyfree" class="fab fa-linkedin-in">&nbsp;<span style="display:none">Rss</span></a></li>
                <li><a target="_blank" title="youtube Link" href="https://twitter.com/3sixtydutyfree" class="fab fa-twitter">&nbsp;<span style="display:none">Rss</span></a></li>

                <li><a target="_blank" title="facebook Link" href="https://www.facebook.com/3SixtyDutyFree/" class="fab fa-facebook-f">&nbsp;<span style="display:none">Rss</span></a></li>

            </ul>
        </div>
        <div class="clear">
            <!---->
        </div>
        <div class="footerRights">@T("footer.text")<br />
            <div class="powerby_div power_dfass">
                Powered by  <a href="http://www.nopcommerce.com/" class="power_dfass" target="_blank">@T("footer.nopCommerce")</a>
            </div></div>
    </div>
</div>
