﻿@model ProductDetailsModel.ProductPriceModel
@using Nop.Web.Models.Catalog;
@using System.Globalization;
@using System.Text.RegularExpressions;
@{
    string pattern = "(?<val>(\\d+[\\s\\,\\.]?)+)";
    string replacement = String.Format("<span class=\"price-val-for-dyn-upd-{0}\">${{val}}</span> ", Model.ProductId);  
}
@if (Model.DynamicPriceUpdate)
{
    <script type="text/javascript">
        var priceValForDynUpd_@(Model.ProductId) = @(((float)(Model.PriceValue != Model.PriceWithDiscountValue ? Model.PriceWithDiscountValue : Model.PriceValue)).ToString(new CultureInfo("en-US")));
    </script>
}

<div class="radio_product">
	<table cellpadding="0" cellspacing="0" border="0">
		
		<tr>
			<td class="td_textp money">
				<div class="prices">
					@if (!String.IsNullOrEmpty(Model.OldPrice))
					{
						@Model.Price <span> - @T("Catalog.Product.YouSave") @Model.Save</span>
                    }
                    else
                    { @*<sup class="signoDolar">$</sup>*@ @Model.Price  }
				</div>
			</td>
            <td width="50" style="text-align: center;"> @T("admin.telerik.gridlocalization.filteror")</td>
			<td class="td_textp moneypoints">
				@if (Convert.ToDecimal(Model.PointsPriceNoFormat) > 0)
                {
                    @*<sup class="signoDolar">$</sup>*@ <text>@Model.PointsPrice + </text>
				}
				@Model.Points <sup style="text-transform: uppercase; font-size: 9px;">@T("rewardpoints.fields.points")</sup>
			</td>
            <td width="50" style="text-align: center;"> @T("admin.telerik.gridlocalization.filteror")</td>
			<td class="td_textp las_av points">
				@if (Convert.ToDecimal(Model.OnlyPoints) > 0)
				{
				    @Model.OnlyPoints<text> </text> <sup style="text-transform: uppercase; font-size: 9px;">@T("rewardpoints.fields.points")</sup>
                }
			</td>
		</tr>
	</table>
	<br/>
</div>


