﻿@model ProductOverviewModel
@using System.Configuration
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    bool isInTheSky = false;
    if (ViewData["isInTheSky"] != null) {
     isInTheSky = (bool)ViewData["isInTheSky"];
    }
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    addtocartlink = Model.ProductPrice.ForceRedirectionAfterAddingToCart ?
        Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart }) :
        Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });

    System.Globalization.CultureInfo current = System.Threading.Thread.CurrentThread.CurrentCulture;
}
<div class="product-item" data-productid="@Model.Id">
    @if (current.Name == "en-US")
    {
        if (Model.IsNew != false)
        {
            <img class="label_product_new" src="~/Content/Images/new_en.png" alt="label_product_new">
        }
        if (Model.IsInflightExclusive != false)
        {
            <img class="label_product_Exclusive" src="~/Content/Images/infligh_en.png" alt="label_product_Exclusive">
        }
        if (Model.IsPreOrderExclusive != false)
        {
            <img class="label_product_Exclusive" src="~/Content/Images/preo_en.png" alt="label_product_Exclusive">
        }
        if (Model.IsSpecialOffer != false)
        {
            <img class="label_product_Preorder" src="~/Content/Images/special_en.png" alt="label_product_Preorder">
        }
        if (Model.IsNotForSale != false)
        {
            <img class="label_product_not_for_sale" src=" ~/Content/Images/notforsale.png" alt="label_product_not_for_sale">
        }
    }
    else
    {
        if (Model.IsNew != false)
        {
            <img class="label_product_new" src="~/Content/Images/new_hb.png" alt="label_product_new">
        }
        if (Model.IsInflightExclusive != false)
        {
            <img class="label_product_Exclusive" src="~/Content/Images/infligh_hb.png" alt="label_product_Exclusive">
        }
        if (Model.IsPreOrderExclusive != false)
        {
            <img class="label_product_Exclusive" src="~/Content/Images/preo_hb.png" alt="label_product_Exclusive">
        }
        if (Model.IsSpecialOffer != false)
        {
            <img class="label_product_especial_hb" src="~/Content/Images/special_hb.png" alt="label_product_especial_hb">
        }
        if (Model.IsNotForSale != false)
        {
            <img class="label_product_not_for_sale_hb" src="~/Content/Images/notforsale_hb.png" alt="label_product_not_for_sale">
        }
    }


    <div class="image_item">
        <a href="@Url.RouteUrl("Product", new { Model.SeName, isInTheSky })" title="@Model.DefaultPictureModel.Title">
            <img width="auto" height="165" id="img_@Model.Sku" alt="@Model.DefaultPictureModel.AlternateText" src="@Url.Content(@Model.DefaultPictureModel.ImageUrl)" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="buy_now">
        <div class="name_re">
            <div class="name_product_list">
                <a href="@Url.RouteUrl("Product", new { Model.SeName, isInTheSky })">@Model.Name</a>

                @*<div class="ManufactureName">
                        @Model.ShortDescription
                        @Html.Raw(Model.manufacturer.Manufacturer.Name)
                    </div>*@
            </div>
        </div>
        <div class="price_list_mod">
            <div class="bold">
                @*<div class="prices">
                        @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                        {
                            <span style="text-decoration: line-through;">@(Model.ProductPrice.OldPrice)</span>
                            @Model.ProductPrice.Price<br />
                        }
                        else
                        {
                            if (isInTheSky || Model.Sku == "36149" || Model.Sku == "60169" || Model.categoryId == 10 || Model.categoryId == 14 || Model.categoryId == 1021 || Model.categoryId == 6
                    || Model.Sku == "60159" || Model.Sku == "60160" || Model.Sku == "60168")
                            {

                                @Model.ProductPrice.Price
                            }
                            else
                            {
                                @Model.ProductPrice.Price
                            }
                            <br />
                        }
                    </div>*@
            </div>
            @if (isInTheSky == true)
            { <spa></spa> }
            else
            {
                <div class="price_news">
                    <span class="bold priceCategory">
                        @if (isInTheSky || Model.Sku == "36149" || Model.Sku == "60169" || Model.categoryId == 10 || Model.categoryId == 14 || Model.categoryId == 1021 || Model.categoryId == 6
                                                || Model.Sku == "60159" || Model.Sku == "60160" || Model.Sku == "60168")
                        {

                            @*<sup class="signoDolar">$</sup>*@   @Model.ProductPrice.Price
                        }
                        else
                        {
                            @*<sup class="signoDolar">$</sup>*@ @Model.ProductPrice.Price
                        }
                    </span>
                    <br /><label>@T("admin.telerik.gridlocalization.filteror")</label>
                    @*<sup class="signoDolar">$</sup>*@ @Model.ProductPrice.PointsPrice
                    <label> + </label>
                    @Model.ProductPrice.Points <sup class="subpoints">
                        @T("rewardpoints.fields.points")
                    </sup>

                    <br />@T("admin.telerik.gridlocalization.filteror")
                    @Model.ProductPrice.OnlyPoints <sup class="subpoints">@T("rewardpoints.fields.points")</sup>
                </div>

            }
        </div>
    </div>
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                <div class="buttons">
                    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName, isInTheSky })">
                        <span class="ui-button-text ui-button">@T("products.details")</span>
                    </a>
                    @if (!isInTheSky && Model.categoryId != 10 && Model.categoryId!= 1021)
                    {
                        <a href="#" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink    ');return false;">
                            <span class="ui-button-text ui-button">
                                @(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="@(ConfigurationManager.AppSettings[Model.InTheSkyHeURL == "he-IL" ? "BaseIntheSkyLinkEn" : "BaseIntheSkyLinkHe"] + Model.Id)" target="_blank">
                            <span class="ui-button-text ui-button">
                                @T("ShoppingCart.Order")
                            </span>
                        </a>
                    }
                </div>
            }
    
</div>