﻿@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    bool isInTheSky = Model.Id == 10 || Model.Id == 1021 || Model.CategoryBreadcrumb.Any(x => x.Id == 10 || x.Id == 1021);
    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
        var currentItem = "";
}
@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
    var urlImgCat = ViewBag.imgCategory;
    var nameCategory = "";
    var seNameCategory = "";
    var CategoryId = 0;
    int i = 0;
    int quantitySort = 0;
    var age = ViewBag.Age;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@*category breadcrumb*@

@if (Model.DisplayCategoryBreadcrumb)
{
    <div class="breadcrumb">
        <ul class="breadcrumbul">
            <li>
                <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">@*breadcrumbDelimiter*@ | </span>
            </li>

            
            @foreach (var cat in Model.CategoryBreadcrumb)
            {
                var isLastCategory = cat.Id == Model.Id;
                <li>
                    @if (isLastCategory)
                    {
                        currentItem = cat.Name;
                        <strong class="current-item">@cat.Name</strong>

                    }
                    else
                    {
                        <a href="@Url.RouteUrl("Category", new {SeName = cat.SeName})" title="@cat.Name">@cat.Name</a>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    }
                </li>
            }
        </ul>

       
    @*@if (!isInTheSky)
    {
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    }*@
    </div>
    @Html.Widget("categorydetails_after_breadcrumb")
    <h2 class="currentPagebreadcrumb">@currentItem</h2>
}

<div class="page category-page">
    
    <div class="col-lg-9">
        @if (!String.IsNullOrWhiteSpace(urlImgCat))
        {
            <img src="@urlImgCat" title="image" class="img-responsive padding_section imgCategory" height="205" width="100%" />
        }
        
    </div>


        <div class="breadcrumb2">
            <div class="row padding_section">
                <div class="col-lg-8">
                    @if (Model.PagingFilteringContext.AllowProductSorting && Model.Products.Count > 0)
                    {
                        <div class="product-sorting">
                            <span><b>@T("Categories.OrderBy")</b></span>
                            <select title="Quantity" name="itemquantity52647" class="qty-dropdown valid" onchange="updateQuantity('52647')">
                              


                                @foreach (var sort in Model.PagingFilteringContext.AvailableSortOptions)
                                {
                                    quantitySort++;
                                }
                                @foreach (var sort in Model.PagingFilteringContext.AvailableSortOptions)
                                {

                                    String value = sort.Text;
                                    Char delimiter = ':';
                                    String[] substrings = value.Split(delimiter);

                                    if (substrings[0] != "Created on")
                                    {
                                        if (substrings.Count() <= 1)
                                        {
                                            <option value="1"><a href="@sort.Value">@substrings[0]</a></option>
                                        }
                                        else
                                        {
                                            <option value="1">
                                                <a href="@sort.Value">@substrings[1]</a>
                                            </option>
                                        }

                                        if (i < quantitySort - 1)
                                        {
                                                @*<span>|</span>*@
                                                i++;
                                                }
                                                }

                                                }
                                                @*@Html.DropDownList("products-orderby", Model.PagingFilteringContext.AvailableSortOptions, new { onchange = "setLocation(this.value);" })*@
</select>
                                  </div>
                    }
                </div>

            </div>

        </div>
    <div class="pager">
       
    </div>
   
        <div class="page-body">      
               @Html.Widget("categorydetails_before_subcategories")
                @*subcategories*@

            <div class="description_category">
                @Html.Raw(Model.Description)
            </div>

                @if (Model.SubCategories.Count > 0)
                {
                    <div class="sub-category-grid">
                        @foreach (var item in Model.SubCategories)
                        {
                            <div class="item-box">
                                <div class="sub-category-item">
                                    <h2 class="title">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                            @item.Name
                                        </a>
                                    </h2>
                                    <div class="picture">
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                            <img alt="@item.PictureModel.AlternateText" src="@Url.Content(@item.PictureModel.ImageUrl)"
                                                 title="@item.PictureModel.Title" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                @Html.Widget("categorydetails_before_featured_products")
                @*featured products*@
                @if (Model.FeaturedProducts.Count > 0)
                {
                    <div class="product-grid featured-product-grid">
                        <div class="title">
                            <strong>@T("Products.FeaturedProducts")</strong>
                        </div>
                        <div>
                            @foreach (var item in Model.FeaturedProducts)
                            {
                                <div class="item-box">
                                    @Html.Partial("_ProductBox", item)
                                </div>
                            }
                        </div>
                    </div>
                }
                @Html.Widget("categorydetails_after_featured_products")

            <div class="result_pages">
                <div class="text_result"></div>
            </div>
            <br style="clear:both" />


    <div class="result_pages_num">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>

        @Html.Widget("categorydetails_before_filters")
        <div class="product-filters-wrapper">
            @*filtering*@
                    @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                    {
                        @Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
                    }
                    @*filtering*@
                    @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                    {
                        @Html.Partial("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())
                    }
                </div>
                @Html.Widget("categorydetails_before_product_list")
                @*product list*@
                @if (Model.Products.Count > 0)
                {
                    if (Model.PagingFilteringContext.ViewMode == "list")
                    {
                        @*list mode*@
                        <div class="product-list" >
                            @foreach (var product in Model.Products)
                            {
                                <div class="item-box">
                                    @Html.Partial("_ProductBox", product)
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="banner_gift">
                            <a class="nivo-imageLink" href="">
                                <img width="275" height="880" title="" alt="@T("wcag.home.index.gift.alt")" src="~/Themes/ElalTheme/Content/images/banners1.png" class="banner_gif">
                            </a>
                        </div>
                    <div class="product-grid" id="CategoryList">

                        @foreach (var product in Model.Products)
                        {
                            <div class="item-box ">
                               
                                @Html.Partial("_ProductBox", product,new ViewDataDictionary { { "isInTheSky", isInTheSky } })
                            </div>
                        }
                    </div>
                    <div style="clear:both"></div>
                    }
                }
            <div class="result_pages_num">
                @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
            </div>
                @Html.Widget("categorydetails_bottom")
            </div>
    </div>
