﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                
                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })">
                    <span>@item.Name</span>
                </a>
            </li>
        }
    </ul>
}