﻿@model ProductDetailsModel
@using System.Configuration
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders
<script src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js")" type="text/javascript"></script>

@{
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox-1.3.4.css");
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    bool isInTheSky = Convert.ToBoolean(Request.QueryString["isInTheSky"]);
    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    System.Globalization.CultureInfo current = System.Threading.Thread.CurrentThread.CurrentCulture;
}
<div class="breadcrumb">
    <span class="bread_info_span">
        <a class="titleElal" href="@Url.RouteUrl("HomePage")">@T("general.page.name")</a>
        <span class="delimiter">@*breadcrumbDelimiter*@ | </span>
        <a class="titleElal" href="@Url.RouteUrl("HomePage")@ViewBag.categoryname">@ViewBag.categoryname | </a> 
        <b class="delimiter">
    @Model.Name </b>
    </span>
   
</div>

<div class="product_info">
    <div class="product_info_images">
        @if (current.Name == "en-US")
        {
            if (Model.IsNew != false)
            {
                <img class="label_product_new_details" src="~/Content/Images/new_en.png" alt="label_product_new_details">
            }
            if (Model.IsInflightExclusive != false)
            {
                <img class="label_product_Exclusive_details" src="~/Content/Images/infligh_en.png" alt="label_product_Exclusive_details">
            }
            if (Model.IsPreOrderExclusive != false)
            {
                <img class="label_product_Exclusive_details" src="~/Content/Images/preo_en.png" alt="label_product_Exclusive_details">
            }
            if (Model.IsNotForSale != false)
            {
                <img class="label_product_not_for_sale" src="~/Content/Images/notforsale.png" alt="label_product_not_for_sale">
            }
            
        }
        else
        {
            if (Model.IsNew != false)
            {
                <img class="label_product_new_details_hb" src="~/Content/Images/new_hb.png" alt="label_product_new_details_hb">
            }
            if (Model.IsInflightExclusive != false)
            {
                <img class="label_product_Exclusive_details_hb" src="~/Content/Images/infligh_hb.png" alt="label_product_Exclusive_details_hb">
            }
            if (Model.IsPreOrderExclusive != false)
            {
                <img class="label_product_Exclusive_details_hb" src="~/Content/Images/preo_hb.png" alt="label_product_Exclusive_details_hb">
            }
            if (Model.IsNotForSale != false)
            {
                <img class="label_product_not_for_sale_hb" src="~/Content/Images/notforsale_hb.png" alt="label_product_not_for_Sale_hb">
            }
        }
        @Html.Partial("_ProductDetailsPictures", Model)
    </div>

    <div class="product_info_des">
        <div class="nameb_product_info">@Model.Name</div>
        <div class="smallText product_manufacturer"  style="text-transform: uppercase;">@Model.ShortDescription</div>
        <div class="name_product_info">
            <span class="smallText product_sku"> @Model.Sku</span>
            @if (!String.IsNullOrEmpty(Model.manufacturer.Manufacturer.Name))
            {
                <span class="smallText product_manufacturer">@Html.Raw(Model.manufacturer.Manufacturer.Name)</span>
            }
        </div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
        </div>
        <div class="des_product_info">
            @if (!String.IsNullOrEmpty(Model.FullDescription))
            {
                @Html.Raw(Model.FullDescription)
            }
        </div>
        @{
            if (current.Name == "en-US")
            {
                if (Model.IsSpecialOffer != false)
                {
                    <img class="label_product_Preorder_details" src="~/Content/Images/special_en.png">
                }
            }
            else
            {
                if (Model.IsSpecialOffer != false)
                {
                    <img class="label_product_Preorder_details_hb" src="~/Content/Images/special_hb.png">
                }
            }

            if (isInTheSky || Model.Sku== "36149" || Model.Sku == "60169" || Model.categoryId == 10 || Model.categoryId == 1021 
                    || Model.Sku == "60159" || Model.Sku == "60160" || Model.Sku == "60168")
            {
                    <div style="font-weight: 900; font-size: 14px;">   @T("rewardpoints.text.price"): <span class="prices">   @Model.ProductPrice.Price </span> </div>
              
            }
            else
            {
                var dataDictPrice = new ViewDataDictionary();
                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

            }

        }
        <div class="qty">
        </div>
        <div class="line"></div>

        <div class="add_product_info">
            @if (!isInTheSky  && Model.categoryId != 10 && Model.categoryId != 11 && Model.categoryId != 1021 )
            {
                        var dataDictAddToCart = new ViewDataDictionary();
                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                        @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
            }
            else
            {
                <a href="@(ConfigurationManager.AppSettings[Model.InTheSkyHeURL == "he-IL" ? "BaseIntheSkyLinkEn" : "BaseIntheSkyLinkHe"] + Model.Id)" target="_blank">
                    <span class="ui-button-text ui-button">
                        @T("ShoppingCart.Order")
                    </span>
                </a>
            }
        </div>

    </div>
    @*<div class="product_info_modules">
        <div class="mod_sub_1">
            
            <div class="title_sub_1">@T("product.HOWTOORDER"):</div>
            <ul>
                <li class="clearfix"><span class="num_r">@T("product.1")</span><span class="num_text">@T("product"+ (isInTheSky ? "isInTheSky":"") + ".Selectwant")</span></li>
                <li class="clearfix"><span class="num_r">@T("product.2")</span><span class="num_text">@T("product" + (isInTheSky ? "isInTheSky" : "") + ".clickcart") &ndash; @T("product.seeSelection")  </span></li>
                <li class="clearfix"><span class="num_r">@T("product.3")</span><span class="num_text">@T("product" + (isInTheSky ? "isInTheSky" : "") + ".choosePayment")</span></li>
                <li class="clearfix"><span class="num_r">@T("product.4")</span><span class="num_text">@T("product" + (isInTheSky ? "isInTheSky" : "") + ".addDetails")</span></li>
                <li class="clearfix last"><span class="num_r">5.</span><span class="num_text">@T("product" + (isInTheSky ? "isInTheSky" : "") + ".seeConfirmation")</span></li>
            </ul>
        </div>
        @{   //prepare "Add to cart" AJAX link
            if (ViewBag.popularProd != null)
            {
                string addtocartlink = "";
                var shoppingCartTypeId = (int) ShoppingCartType.ShoppingCart;
                var quantity = 1;
                addtocartlink = ViewBag.popularProd.ProductPrice.ForceRedirectionAfterAddingToCart ? 
                    Url.RouteUrl("AddProductToCart-Catalog", new {productId = ViewBag.popularProd.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = ViewBag.popularProd.ProductPrice.ForceRedirectionAfterAddingToCart}) : 
                    Url.RouteUrl("AddProductToCart-Catalog", new {productId = ViewBag.popularProd.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity,});
                if (!isInTheSky)
                {
                    <div class="recently">
                        <div class="recently_top">
                            <div class="title_recently">@T("product.RecentlyViewed")</div>
                        </div>
                        <div class="recently_center">
                            <div class="recently_product">
                                <a href="@Url.RouteUrl("Category", new {SeName = ViewBag.popularProd.SeName})" title="@ViewBag.popularProd.DefaultPictureModel.Title">
                                    <img width="105" height="115" alt="@ViewBag.popularProd.DefaultPictureModel.AlternateText" src="@Url.Content(@ViewBag.popularProd.DefaultPictureModel.ImageUrl)" title="@ViewBag.popularProd.DefaultPictureModel.Title"/>
                                </a>
                                <div class="buy_now">
                                    <div class="name_re">
                                        <div class="name_product">@ViewBag.popularProd.Name</div>
                                    </div>
                                    <div class="price_list_mod">
                                        <span class="price_news">
                                        @if (!String.IsNullOrEmpty(ViewBag.OldPrice))
                                        {
                                            <span class="price old-price">@ViewBag.OldPrice</span>
                                            <br />
                                        }
                                        @ViewBag.popularProd.ProductPrice.Price

                                        @if (Convert.ToDecimal(ViewBag.popularProd.ProductPrice.PointsPriceNoFormat) > 0)
                                        {
                                            <br />
                                            @ViewBag.popularProd.ProductPrice.PointsPrice
                                            <label> + </label>
                                            @ViewBag.popularProd.ProductPrice.Points
                                            @T("rewardpoints.fields.points")
                                        }
                                        @if (Convert.ToDecimal(ViewBag.popularProd.ProductPrice.OnlyPoints) > 0)
                                        {
                                            <br />
                                            @ViewBag.popularProd.ProductPrice.OnlyPoints
                                            @T("rewardpoints.fields.points")
                                        }
                                    </span>
                                    </div>
                                    <br/>
                                    <div class="div_add_to">
                                        <a href="@Html.Raw(Url.RouteUrl("Product", new {Model.SeName}))">
                                            <span class="ui-button-text ui-button">@T("products.details")</span>
                                        </a>
                                            <a href="#" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                                                <span class="ui-button-text ui-button">
                                                @(ViewBag.popularProd.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))
                                            </span>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>*@
    <br style="clear:both" />
    <div class="sub3">
        <div class="new_prod_div elal-title">
            @if (current.Name == "en-US")
            {
                <h2 class="title_best "><img src="~/Content/Images/line1.png" /> @T("products.mustbeinterested") <img src="~/Content/Images/line2.png" /></h2>
            }
            else
            {
                <h2 class="title_best "><img src="~/Content/Images/line2.png" /> @T("products.mustbeinterested") <img src="~/Content/Images/line1.png" /></h2>
            }


            <div class="">
                <div class="">
                    <ul id="car2">


                        @foreach (var item in ViewBag.mustbeinterested)
                        {
                            //prepare "Add to cart" AJAX link
                            string addtocartlink1 = "";
                            var shoppingCartTypeId1 = (int)ShoppingCartType.ShoppingCart;
                            var quantity1 = 1;

                            //  HttpRequest request = Url.ActionContext.HttpContext.Request;
                            // return new Uri(new Uri(Request.Scheme + "://" + Request.Host.Value), url.Content(contentPath)).ToString();

                            if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
                            {
                                addtocartlink1 = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart }, Request.Url.Scheme);

                                //Url.RouteUrl("Default", new RouteValueDictionary(new { action = "addproducttocart", controller = "catalog", productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart }), "http", Request.Url.Scheme);
                            }
                            else
                            {
                                //addtocartlink1 = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, }, "http");
                                addtocartlink1 = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1, }, Request.Url.Scheme);
                                //  Url.RouteUrl("Default", new RouteValueDictionary(new { action = "addproducttocart", controller = "catalog", productId = item.Id, shoppingCartTypeId = shoppingCartTypeId1, quantity = quantity1 }), "http", Request.Url.Scheme);
                            }


                            <div class="new_product">

                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                    
                                    <div class="best_prod_box">
                                        <img width="105" height="115" alt="@item.DefaultPictureModel.AlternateText" src="@Url.Content(@item.DefaultPictureModel.ImageUrl)" title="@item.DefaultPictureModel.Title" />
                                    </div>
                                </a>
                                <br />
                                <div class="buy_now">
                                    <div class="name_re">
                                        @if (!String.IsNullOrEmpty(item.manufacturer.Manufacturer.Name))
                                        {
                                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })">@item.manufacturer.Manufacturer.Name </a>
                                        }
                                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })"><div class="name_product">@item.Name</div></a>
                                    </div>
                                    <div class="price_list_mod">
                                        <span class="price_news">
                                            <!--<div class="add-info">-->
                                            <div class="prices">
                                                @if (!String.IsNullOrEmpty(item.ProductPrice.OldPrice))
                                                {
                                                    @*<sup class="signoDolar">$</sup>*@  @item.ProductPrice.Price <span> - @T("Catalog.Product.YouSave") @item.ProductPrice.Save</span>
                                                }
                                                else
                                                { @*<sup class="signoDolar">$</sup>*@ @item.ProductPrice.Price  }
                                            </div>
                                            <label>@T("admin.telerik.gridlocalization.filteror")</label>
                                            @*<sup class="signoDolar">$</sup>*@ @item.ProductPrice.PointsPrice
                                            <label> + </label>
                                            @item.ProductPrice.Points <sup class="subpoints" style="text-transform: uppercase;">@T("rewardpoints.fields.points")</sup>

                                            <br />
                                            <label>@T("admin.telerik.gridlocalization.filteror")</label>
                                            @item.ProductPrice.OnlyPoints <sup class="subpoints"style="text-transform: uppercase;">@T("rewardpoints.fields.points")</sup>
                                        </span>
                                    </div>
                                    <br />

                                    <div class="buttons">
                                        @if (!item.ProductPrice.DisableBuyButton)
                                        {
                                            @*<input type="button" value="@(item.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="ui-button-text ui-button button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
                                            @*<a class="ui-button-text ui-button" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                        @T("products.details")
                    </a>*@
                                            <a class="ui-button-text ui-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink1');return false;"> @(item.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))</a>
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <script type="text/javascript">
 @{
     if(current.Name == "he-IL"){
         <text>
       //// Most popular
    var j = 0;
    var liM = new Array();
    $('.popularItem').each(function (indice, elemento) {
         //alert($(elemento).html());
        liM[j] = $(elemento).html();
        j++;
    });

    var lM = $('.popularItem').length;
    $(".jcarousel2 ul").html("");

    for (var i = lM - 1; i >= 0; i--)
    {
        $("#car2").append("<li>" + liM[i] + "</li>");
    }
    $("#car2").append("<li class=\"li_none\"></li><li class=\"li_none\"></li><li class=\"li_none\"></li>");
    </text>
    }
    }
    </script>

    <script type="text/jscript">
        (function ($) {
            $(function () {
                //$('.jcarousel').jcarousel();
                $('.jcarousel2').jcarousel();

                $('.jcarousel-control-prev2')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

               $('.jcarousel2').jcarousel(
                 @{
                     if(current.Name == "he-IL"){
                <text>
                    'scroll', lM-2, true
                 </text>
            }
        }
             );

                $('.jcarousel-control-next2')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });
            });
        })(jQuery);
    </script>
</div>