﻿@model SearchBoxModel
@using Nop.Web.Models.Catalog;
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { onsubmit = "return check_small_search_form()" }))
{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" placeholder="@T("Search.SearchBox.Tooltip")..." title="@T("Search.SearchBox.Tooltip")"  value="@T("Search.SearchBox.Tooltip")"  
                       id="small-searchterms-1" @(Model.AutoCompleteEnabled ? Html.Raw(" autocomplete=\"off\"") : null)
                    name="q"  onfocus="if(this.value=='@T("Search.SearchBox.Tooltip")')this.value=''" onblur="if(this.value=='') {this.value = '@T("Search.SearchBox.Tooltip")';}"  > 
                
                <input type="button" class="search_icon fas fa-search" value=""  hidden="hidden"/>
                 <a href="" class="search_icon"><i class="fas fa-search" style="color: black"></i></a>
            </div>
        </div>
    </div>

    @Html.Widget("searchbox")

    <script type="text/javascript">
        function check_small_search_form() {

            var search_terms = $("#small-searchterms-1");
            if (search_terms.val() == "" || search_terms.val() == '@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.SearchBox.Tooltip").Text))') {
                alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
                search_terms.focus();
                return false;
            }

            return true;
        }
            @if (Model.AutoCompleteEnabled)
            {
                <text>
                    $(function () {

                        $('#small-searchterms-1').autocomplete({
                            delay: 500,
                            minLength: @(Model.SearchTermMinimumLength.ToString()),
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            select: function( event, ui ) {
                                $("#small-searchterms-1").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            }
                        })
                                .data("ui-autocomplete")._renderItem = function( ul, item ) {
                                    var t = item.label;
                                    //html encode
                                    t = htmlEncode(t);
                                    return $("<li></li>")
                                    
                                    .data("item.autocomplete", item)
                                    //.append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null) " + t  + "</a>")
                                    // .append("<a href=\""+item.producturl+"\"><img src=\""+item.productpictureurl+"\" alt=\"\">  "+t+"  ")
                                    .append("<div><div class=\"Image_cart\"><a href=\""+item.producturl+"\">@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)</a></div><div class=\"text_miniCart\"><a href=\""+item.producturl+"\"><span class=\"bold\">"+t+"</span><br>"+item.productprice+"<br>Or "+item.productpricewpoints+" + "+item.productpointswprice+" Points<br>Or "+item.productonlypoints+" Points</a></div><div style=\"clear:both;\"></div></div>")
                                .appendTo(ul);
                                };

                        
                    });
                </text>
            }


    </script>
}