﻿@model TopMenuModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@helper RenderCategoryLine(CategorySimpleModel category, int level, bool isDark = false)
{
    var liClass = "";
    var aTagClass = "";
    if (level == 0 && !(ViewBag.IsFooter ?? false)) //Currently only supporting 2 levels
    {
        liClass = "outerli";
        aTagClass = "outera";
    }
    

    <li class="@liClass" >
        <a class="@aTagClass" href="@Url.RouteUrl("Category", new {category.SeName})" onMouseover="toggleMobileSubMenu(@category.Id)">
            @category.Name
        </a>
        @if (category.SubCategories.Count > 0 && !(ViewBag.IsFooter ?? false))
        {
            <div class="arrow_SubMenu"></div>
            <ul id="subMenu_@category.Id">
                @foreach (var subCategory in category.SubCategories)
                {
                    @RenderCategoryLine(subCategory, level + 1, isDark)
                }
            </ul>
        }
    </li>
}
@if (ViewBag.IsFooter ?? false)
{
    if (EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl)
    {
        <!--[if lt IE 10 ]>
            <link rel="stylesheet" type="text/css" href="/Themes/DefaultClean/Content/ie9minusRTL.css"/>
        <![endif]-->
    }
    else
    {
        <!--[if lt IE 10 ]>
            <link rel="stylesheet" type="text/css" href="/Themes/DefaultClean/Content/ie9minus.css"/>
        <![endif]-->
    }
    <!--[if lt IE 9 ]>
        <link rel="stylesheet" type="text/css" href="/Themes/DefaultClean/Content/ie78.css"/>
    <![endif]-->
    <!--[if IE 9 ]>
        <link rel="stylesheet" type="text/css" href="/Themes/DefaultClean/Content/ie9.css"/>
    <![endif]-->
}
<ul data-style="display: flex;" id="@((ViewBag.IsFooter ?? false) ? "footer_menu":"top_menu")">
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    @Html.Widget("header_menu_before")
    @if (Model.Categories.Count > 0)
    {
        for (int index = 0; index < Model.Categories.Count; index++)
        {
            var category = Model.Categories[index];
            @RenderCategoryLine(category, 0, index == 0)
        }
    }
    else
    {
        //no categories to display?
        //in this cae let's diplay some default menu items
        <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        if (Model.RecentlyAddedProductsEnabled)
        {
            <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
            </li>
        }
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }
    @Html.Widget("header_menu_after")
</ul>

<script>
    function toggleMobileSubMenu(id) {
       
        var mobileMenu = document.getElementById("#subMenu_"+id);
        $(mobileMenu).hasClass("subMenuMob")
            ?
            ($(mobileMenu).removeClass("subMenuMob"))
            :
            ($(mobileMenu).addClass("subMenuMob"));


       // $(".subMenu_" + id).addClass("subMenuTop");
       // $(".subMenu_" + id).setProperty("display", "block")
    }
</script>