﻿@using Nop.Core
@using Nop.Services.Helpers
@using Nop.Web.Framework.UI
@inject IThemeContext themeContext
@inject IWorkContext workContext
@{
    var themeName = themeContext.WorkingThemeName;

}
@model LogoModel

<div class="fly_buy">
    <a href="~/Home/Index">
        <img title="@T("Header.LoginTitle")" alt="Online Duty Free with ELAL airlines" src="@Model.LogoPath" />
    </a>
</div>
<div class="logo">
    <a href="https://www.elal.com" title="Go to Elal Home Page">
        <img title="Go to Elal Home Page" alt="Go to Elal Home Page" src="~/Themes/@themeName/Content/images/logo@(workContext.WorkingLanguage.Name == "Hebrew" ? "_he" : "_en").png" />
    </a>
</div>