﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @*Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})*@
}
@*@Html.Widget("categorydetails_top")*@
<div class="page shopping-cart-page">
   
    <div class="errorMessages"></div><br />
    <div class="page-body">
        @Html.Partial("OrderSummary", Model)
    </div>
</div>
