﻿@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="flyout-cart" class="flyout-cart">
    <div class="mini-shopping-cart">

        <div class="cart">

            <!--@if (Model.TotalProducts == 0)
            {

                @*@T("ShoppingCart.Mini.NoItems")*@
            }
            else
            {

                var subtotal2="";
                //if (Model.TotalProducts != 0) { subtotal2 = Model.SubTotal; }
                //else
                //{ subtotal2 = " $ 0"; }


                @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, string.Format("<a href=\"{0}\" class=\"items\">{1} " + subtotal2 + "</a>", Url.RouteUrl("ShoppingCart"), string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts))))
            }-->
            <div id="cart-preview">

                @{
                    if(Model.TotalProducts > 0){
                <table cellpadding="5" cellspacing="0" border="0">
                    <tr>
                        <td><div><img alt="@Model.Items[0].Picture.AlternateText" src="@Url.Content(@Model.Items[0].Picture.ImageUrl)" title="@Model.Items[0].Picture.Title" /></div></td>
                        <td><div class="name_mini_cart">@Model.Items[0].ProductName</div></td>
                    </tr>
                </table>

                <div style="clear:both;"></div>}
}
</div>
<div class="icon_div">
    <i class="fa fa-shopping-cart"></i>
</div>
<div class="text_cart">
    @{
        var subtotal = "";
        //if (Model.SubTotal != "") { subtotal = Model.SubTotal; }
        //else
        //{ subtotal = " $ 0"; }

    }
    @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, string.Format(" <a href=\"{0}\" class=\"items\"> {1} " + subtotal + "</a>", Url.RouteUrl("ShoppingCart"), string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts))))
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="shopping_cart_resp"> <a class='fa fa-shopping-cart' href="/dutyfree-elal/cart"></a><div id="total">@Model.TotalProducts</div></div>

   
</div>
</div>
@*T("ShoppingCart.Mini.tocart").Text  @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, string.Format("<a href=\"{0}\" class=\"items\">{1}</a>", Url.RouteUrl("ShoppingCart"), string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts))))*@
@if (Model.TotalProducts > 0)
{
    <div class="items" style="display:none">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];
            <div class="item @(i == 0 ? "first" : null)">
                @if (Model.ShowProductImages)
                {
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                            <img alt="@item.Picture.AlternateText" src="@Url.Content(@item.Picture.ImageUrl)" title="@item.Picture.Title" />
                        </a>
                    </div>
                }
                <div class="product">
                    <div class="name">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                    </div>
                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                    {
                        <div class="attributes">
                            @Html.Raw(item.AttributeInfo)
                        </div>
                    }
                    <div class="price">@T("ShoppingCart.Mini.UnitPrice"): <span>@item.UnitPrice</span></div>
                    <div class="quantity">@T("ShoppingCart.Mini.Quantity"): <span>@item.Quantity</span></div>
                </div>
            </div>
        }
    </div>
    <div class="totals" style="display:none;">@T("ShoppingCart.Totals.SubTotal"): <strong>@Model.SubTotal</strong></div>
    <div class="buttons" style="display:none;">
        @if (Model.DisplayShoppingCartButton)
        {
            <input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

        }
        @if (Model.DisplayCheckoutButton)
        {
            var checkoutUrl = "";
            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
            {
                checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
            }
            else
            {
                checkoutUrl = Url.RouteUrl("Checkout");
            }
            <input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
        }
    </div>
}
</div>
</div>
