﻿@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;

<input type="hidden" name="TAmount" id="TAmount" value="@Model.OrderTotal" />
<table border="0" cellpadding="5" cellspacing="0" align="center" width="690" class="products_total">
    <tr>
        <td width="358" class="total_td">
            @T("ShoppingCart.Totals.SubTotal")
        </td>
        <td width="151">
            @Model.TotalQuantity
        </td>
        <td width="156">
           @Model.SubTotal
        </td>
        <td width="518">
            @Model.TotalPoints
        </td>
        <td></td>
    </tr> 
    @if (!String.IsNullOrEmpty(Model.SubTotalDiscount))
    {
        <tr>
        <td width="300" class="total_td">
            @T("ShoppingCart.Totals.SubTotalDiscount")
            @if (Model.AllowRemovingSubTotalDiscount)
            {
                /*empty value (little hack for FormValueExistsAttribute)*/
                <input type="submit" name="removesubtotaldiscount" value="@T("Common.Remove")" title="@T("Common.Remove")" class="remove-discount-button" />
            }
            :
        </td>
        <td width="120">
            
        </td>
        <td width="105">
          @Model.SubTotalDiscount
        </td>
        <td>
          
        </td>
    </tr>
    }
	@if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
    {
		<td width="300" class="total_td">
            @T("shoppingcart.totals.ordertotaldiscount")
        </td>
        <td width="120">
            
        </td>
        <td width="105">
            @Model.OrderTotalDiscount
        </td>
        <td>
            
        </td>
	}
    @if (!String.IsNullOrEmpty(Model.discountPurchase))
    {
            <tr>
                <td width="300" class="total_td">
                    @T("ShoppingCart.Totals.OrderTotalDiscountPromo")
                </td>
                <td width="120"></td>
                <td width="105">
                    @Model.discountPurchase
                </td>
                <td></td>
            </tr>
        } 
    <tr><td></td></tr>
<tr>
        <td width="300" class="total_td">
            @T("ShoppingCart.Totals.Total")
        </td>
        <td width="120">
            @Model.TotalQuantity
        </td>
        <td width="105">
            @Model.OrderTotal
        </td>
        <td>
            @Model.TotalPoints
        </td>
    </tr>
    <tr>
        <td width="300" class="total_td">
            @T("rewardpoints.fields.youEarn"):      @Model.EarnPoints @T("rewardpoints.fields.points.vble")
        </td>
        <td width="120">
            
        </td>
        <td width="105">
            
        </td>
        <td>
           
        </td>
    </tr>
</table>
