﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
    var idProducts = "";
}

 
@if (Model.Items.Count > 0)
{
    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", name = "shoppingcart_form", id = "shoppingcart_form" }))
    {
        
         <table border="0" cellpadding="5" cellspacing="0" align="center" width="690" class="products_resume cart">
            <tr>
                <th width="300">
                    @T("elal.cart.ProductName")
                </th>
                <th width="120">
                    @T("elal.cart.Quantity")
                </th>
                <th width="105">
                   @T("elal.cart.Total")
                </th>
                <th>
                    @T("elal.cart. TotalPoints") 
                </th>
            </tr>

            @*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td width="300">
                       @item.ProductName
                    </td>
                    <td width="120">
                        @item.Quantity
                    </td>

                    <td width="105">
                      @if(item.PriceTypeId==1){
                        @item.UnitPrice
                      }
                    @if (item.PriceTypeId == 2)
                    {
                        @item.UnitPointsPrice
                    }
                    @if (item.PriceTypeId == 3)
                    {
                       <text>0</text>
                    }
                    </td>
                    <td>
                        @if (item.PriceTypeId == 1)
                        {
                           <text>0</text>
                        }
                        @if (item.PriceTypeId == 2)
                        {
                            @item.UnitPoints
                        }
                        @if (item.PriceTypeId == 3)
                        {
                            @item.UnitOnlyPoints
                        }
                    </td>
                </tr>
              
            }

        </table>
  

    
        }
   }else
    {
        @T("ShoppingCart.CartIsEmpty")
    }
