﻿@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{ 
    DateTime startPromo = new DateTime(2017, 11, 1);
    DateTime endPromo = new DateTime(2017, 12, 31);
}
<div class="sub">
    <span class="bold">@T("ShoppingCart.Totals.SubTotal"):</span>
        <span class="subtotal">
            @Model.SubTotal
        </span>
    <br />

    @if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
    {
        <br/>
        <span class="bold subtotal">
            @T("ShoppingCart.Totals.Promotion"):
        </span>
        <span class="subtotal">@Model.OrderTotalDiscount</span>
        <br />
    }

    <span class="bold subtotal"><br />@T("rewardpoints.fields.Totalpoints"):</span>
    <span class="subtotal">
        @Model.TotalPoints
	</span>
     
        @if (!String.IsNullOrEmpty(Model.FormatDiscountManual))
        {
            <br />
            <span class="bold subtotal"><br />@T("ShoppingCart.Totals.OrderTotalDiscountPromo"):</span>
            <span class="subtotal">
               @Model.FormatDiscountManual
            </span>
        }
                    @if (!String.IsNullOrEmpty(Model.OrderTotal))
                    {
                        <br />
                        <span class="bold subtotal"><br />@T("ShoppingCart.Totals.OrderTotal"):</span>
                        <span class="subtotal">
                            @Model.OrderTotal
                        </span>    <br />
                    }

    <br />
    <span><br />@T("rewardpoints.fields.youEarn"):</span>
    <span class="subtotal">
        @Model.EarnPoints @T("rewardpoints.fields.points.vble")
    </span>

    
    
    <br/> <br />
    
    @if (!String.IsNullOrEmpty(Model.SubTotalDiscount))
    {
        <span class="nobr">
            @T("ShoppingCart.Totals.SubTotalDiscount")
            @if (Model.AllowRemovingSubTotalDiscount)
            {
                /*empty value (little hack for FormValueExistsAttribute)*/
                <input type="submit" name="removesubtotaldiscount" value="@T("Common.Remove")" title="@T("Common.Remove")" class="remove-discount-button" />
            }
            :
        </span>
        <span class="nobr"><span class="product-price">@Model.SubTotalDiscount</span> </span>
    }
</div>