﻿@model ShoppingCartModel
@using System.Globalization;
@using Nop.Web.Models.ShoppingCart;
@{
    var idProducts = "";
	var provider = new CultureInfo("en-US");
}

 
@if (Model.Items.Count > 0)
{
    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", name = "shoppingcart_form", id = "shoppingcart_form" }))
    {
    <div id="cart">
        <table class="cart">
            <colgroup>
                @if (Model.IsEditable)
                {
                    <col width="1" />
                }
                @if (Model.ShowSku)
                {
                    <col width="1" />
                }
                @if (Model.ShowProductImages)
                {
                    <col width="1" />
                }
                <col />
                <col width="1" />
                <col width="1" />
                <col width="1" />
            </colgroup>
            <thead>
                <tr>
                    <th class="product">
                       @T("elal.cart.SelectedProducts")
                    </th>
                    <th class="unit-price">
                       @T("elal.cart.UnitPrice")
                    </th>
                    <th class="quantity">
                        @T("elal.cart.Item")
                    </th>
                    <th class="subtotal">
                       @T("elal.cart.ChooseFormOfPayment")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {

                    idProducts += item.Id + ",";
                    <tr>
                        <td width="36%">
                            <div class="img_item_cart">
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">
                                    <img width="50" height="50" alt="@item.Picture.AlternateText" src="@Url.Content(@item.Picture.ImageUrl)" title="@item.Picture.Title" />
                                    </a>
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
</div>
                        </td>
                        
                        <td width="20%">
                            <div class="price_item_cart">
                                <div>
                                    @if (decimal.Parse(item.UnitPriceOnly, NumberStyles.Currency, provider) > 0)
                                    {
                                        {<text>&nbsp;</text>}@item.UnitPrice
                                        <br />
                                    }
                                    @if (Convert.ToDecimal(item.UnitPointsPriceNoFormat) > 0)
                                    {
                                        <text>&nbsp;</text>@item.UnitPointsPriceOnly <text> &#43; </text>@item.UnitPointsOnly <text>@T("rewardpoints.fields.points")  </text>
                                        <br />
                                    }

                                    @if (Convert.ToDecimal(item.UnitOnlyPoints) > 0)
                                    {
                                        {<text>&nbsp;</text>}@item.UnitOnlyPointsOnly  <text>&nbsp;@T("rewardpoints.fields.points")  </text>
                                    }
                                </div>
                            </div>
                        </td>
                        <td width="20%">

                            <div class="qty_item_cart">
                                <div class="qty_sub">
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select title="Quantity" name="itemquantity@(item.Id)" class="qty-dropdown" onchange="updateQuantity('@(item.Id)')">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                        }


                                        <a class="buton_remove_cart buton_remove_cart_check" onclick="deleteFromCart(@item.Id);">
                                            <label class="remove_text"> @T("shoppingcart.remove") </label>  <span> X </span> 
                                        </a>
                                        <input type="hidden" class="offscream" value="" name="removefromcart-@item.Id" id="deleteFromCart-@item.Id" />
                                    }
                                    else
                                    {
                                        <span>@item.Quantity</span>
                                    }

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="t_item_cart priceType">
                                <div class="priceType">
                                    <div id="secction_price_@item.Id" class="priceType">
                                        <fieldset class="priceType">
                                            <legend aria-hidden="true" class="priceType">@T("elal.cart.ChooseFormOfPayment")</legend>
                                            @if (decimal.Parse(item.UnitPriceOnly, NumberStyles.Currency, provider) > 0)
                                            {
                                                <input title="@item.ProductName-@T("elal.cart.ChooseFormOfPayment")" type="radio" @if (item.PriceTypeId == 1) { <text> checked='checked' </text>      } value="1" onclick="calculateTotal(@item.ProductId,1)" class="radio_cart" name="price_@item.Id" id="Unitprice_@item.Id" />
                                                {<text>&nbsp; $ </text>}@item.UnitPriceOnly
                                                <br />
                                            }
                                            @if (decimal.Parse(item.UnitPointsPriceNoFormat) > 0)
                                            {
                                                <input title="@item.ProductName-@T("elal.cart.ChooseFormOfPayment")" type="radio" @if (item.PriceTypeId == 2) {  <text> checked='checked' </text>       } value="2" onclick="calculateTotal(@item.ProductId,2)" class="radio_cart" name="price_@item.Id" id="UnitPoints_@item.Id" />
                                                {<text>&nbsp; $ </text>}@item.UnitPointsPrice {<text> &#43; </text>}  @item.UnitPoints  {<text>&nbsp;</text>}@T("rewardpoints.fields.points")
                                                <br />
                                            }
                                            @if (decimal.Parse(item.UnitOnlyPoints) > 0)
                                            {
                                                <input title="@item.ProductName-@T("elal.cart.ChooseFormOfPayment")" type="radio" @if (item.PriceTypeId == 3) { <text> checked='checked' </text>     } value="3" onclick="calculateTotal(@item.ProductId,3)" class="radio_cart" id="OnlyPoints_@item.Id" name="price_@item.Id" />
                                                {<text>&nbsp;</text>}@item.UnitOnlyPoints {<text>&nbsp;</text>}  @T("rewardpoints.fields.points")
                                            }
                                        </fieldset>
                                    </div>
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave"): @item.Discount
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
            <div class="products_cart">
                @Html.Widget("order_summary_content_before")
                @Html.Partial("_OrderReviewData", Model.OrderReviewData)
                @if (Model.Items.Count > 0)
                {
                    if (Model.Warnings.Count > 0)
                    {
                        <div class="message-error">
                            <ul>
                                @for (int i = 0; i < Model.Warnings.Count; i++)
                                {
                                    <li>@Model.Warnings[i]</li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
</div>
<div id="updatecart-button">

</div>
            <div class="cart-collaterals">
                @if (Model.IsEditable)
                {
                    <div class="deals">
                        @Html.Partial("_DiscountBox", Model.DiscountBox)
                        @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                        @Html.Widget("order_summary_content_deals")
                    </div>
                    @Html.Partial("EstimateShipping", Model.EstimateShipping)
                }
            </div>


        if (Model.IsEditable)
        {
            <div class="totals">

                <div id="orderTotalSub">
                    @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                </div>


                @if (Model.IsEditable)
                {
                    if (Model.TermsOfServiceOnShoppingCartPage)
                    {
                        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                        </div>
                        <div class="terms-of-service">
                            <input id="termsofservice" type="checkbox" name="termsofservice" />
                            @T("Checkout.TermsOfService.IAccept")
                            <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })', 450, 500, true);">@T("Checkout.TermsOfService.Read")</span>
                        </div>
                    }


                    if (Model.IsEditable)
                    {
                        <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-1 m_l" />
                        @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                    }

                       <input type="submit" id="checkout-2" name="checkout" value="@T("Checkout.Button")" onclick="return isEnabledCheckout('@idProducts')" class="button-1" />

                    <div class="addon-buttons">
                        @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                        @Html.Partial("_ButtonPaymentMethod", Model)
                    </div>
                }

            </div>
            }
        }
   }else
    {
        @T("ShoppingCart.CartIsEmpty")
    }



            <script>

    function deleteFromCart(id) {
        $("#deleteFromCart-" + id).val("checked");
        document.shoppingcart_form.submit();
    }
    function updateQuantity(id) {
        $("#updatecart-button").append('<input type="hidden" value="updatecart" name="updatecart" />');
        document.shoppingcart_form.submit();
                }

</script>