﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")

<!--Html.Action("AdminHeaderLinks", "Common")-->

@*<div class="hebHelp">
עקב שדרוג האתר, זמנית לא ניתן לרכוש מוצרים בנקודות או כסף ונקודות.
ניתן לרכוש מוצרים בכרטיס אשראי, במחיר מלא עם הנחה של 10% ממחיר הקנייה.
<br/>
הנחת 10% לא כוללת מוצרי מתנה וחגיגה בשמיים.
</div>
<div class="engHelp">
Due to site updates, temporarily  it will not be possible to purchase with points/points + credit cards.
You may purchase with credit card only and receive 10% discount on your purchase.
<br/>
10% discount does not include  gift in the sky & celebration in the sky.
</div>*@
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Partial("Header")
        <div class="header-menu">
            @*<div id="top_menu">
                    <!--Html.Action("TopMenu", "Catalog")
                    Html.Action("TopMenu", "Catalog")-->
                </div>*@
            </div>
            @Html.Widget("content_before")
            @*ajax loading window*@
            <div class="ajax-loading-block-window" style="display: none">
                <div class="loading-image">
                </div>
            </div>

            <div class="master-wrapper-main">
                @RenderBody()
            </div>
        @Html.Partial("_Notifications")
            @Html.Widget("content_after")
            @Html.Action("EuCookieLaw", "Common")
        </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Widget("body_end_html_tag_before")
