﻿@using Nop.Core
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using System.Globalization
@using System.Threading

@{
    var displayMiniProfiler = CommonHelper.GetTrustLevel() >= AspNetHostingPermissionLevel.High &&
        EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    //resources
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css");
    Html.AppendCssFileParts("~/Content/normalize.css");

    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.0.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.unobtrusive-ajax.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.7.1.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>
        @T("general.title.page")
    </title>
    @*Header Embed Code*@
    <script src="//assets.adobedtm.com/launch-EN293bdbe994ab4c04b4aa4aeb7ce871b2.min.js"></script>
    <script src="//assets.adobedtm.com/launch-EN66d9c7df06684d6cafc2cae44b74677f.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="msvalidate.01" content="E7944A4D226DEA0BEE80E7385107E51C" />
   @* <meta name="google-site-verification" content="pupnuX9eE1lGepM40k-hEOhtBm5CkyhiWI0qLthjVmA" />*@
    <meta name="google-site-Verify" content="VTUA24MsO4lc9_6BJAoqcM7y2CHjxWifseQMLY0WO9s" />
    <meta name="msvalidate.01" content="E7944A4D226DEA0BEE80E7385107E51C" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2013-->
    <script src="@Url.Content("~/Scripts/includes/jquery.jcarousel.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/includes/jquery.corner.js")" type="text/javascript"></script>

    <script type="application/ld+json">
        {
        "context": "http://schema.org",
        "type": "Organization",
        "image": "https://www.elal.com/dutyfree-elal/Themes/DefaultClean/Content/images/flybuylogo.gif",
        "id": "https://www.elal.com/dutyfree-elal/",
        "name": "Fly & Buy Inflight Duty Free by ELAL",
        "url": "https://www.elal.com/dutyfree-elal/",
        "telephone": "+972 (0)3 971-7322",
        "email": "dutyfree@elal.co.il"
        }
    </script>

</head>
<body>
    <div class="content_div">
        <div id="header">
            <div id="storeLogo">
                <div class="language">
                    <ul>
                        @if (supportRtl)
                        {
                            <li onclick="setLocation('/changelanguage/1');"><span class="eng">&nbsp;</span>
                            <span class="textLanguage">EN</span></li>

                        }
                        else
                        {
                            <li onclick="setLocation('/changelanguage/2');"><span class="heb">&nbsp;</span> 
                                <span class="textLanguage">HB</span></li> 
                        }
                        <li class="fas fa-user-circle" style="color: #00003c; padding-top: 0px !important; width: 100%;">
                            <span>
                                <a class="loginlink" href="~/checkorder">@T("Header.Login")</a>
                        </span>
                       </li>
                        <li class="search_header_box" >
                            @*<div class="head_search">
                                <form action="/search" method="get" onsubmit="return check_small_search_form()" novalidate="novalidate">
                                    <span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header search-box-text k-state-default" style="">
                                    <input title="@T("Search.SearchBox.Tooltip")" type="text" class="search-box-text k-input valid" id="small-searchterms" placeholder="@T("Search.SearchBox.Tooltip")" name="q" onfocus="if(this.value=='@T("Search.SearchBox.Tooltip")')this.value=''" onblur="if(this.value=='') {this.value = '@T("Search.SearchBox.Tooltip")';}" data-role="autocomplete" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-owns="small-searchterms_listbox" aria-autocomplete="list" style="width: 100%;" aria-busy="true"><span class="k-icon k-loading" style=""></span></span>
                                    <input title="search-box" type="submit" class="search-box-button" value="">
                                </form>
                            </div>*@
                            <div class="head_search">
                                @Html.Action("SearchBox", "Catalog")
                            </div>
                        </li>
                    </ul>

                    
                </div>
                <br />
                
                <div class="fly_buy">
                    <a href="~/Home/Index">
                        <img title="@T("Header.LoginTitle")" alt="Online Duty Free with ELAL airlines" src="~/Content/skins/flyBuy.png" />
                    </a>
                </div>

                <div class="logo">
                    <a href="https://www.elal.com" title="Go to Elal Home Page">
                        <img title="Go to Elal Home Page" alt="Go to Elal Home Page" src="~/Themes/ElalTheme/Content/images/logo@(WorkContext.WorkingLanguage.Name == "Hebrew" ? "_he" : "_en").png" />
                    </a>
                </div>
                <br />
                <div id="topMenuDiv" class="headerMenu_box">
                    <nav>
                        @Html.Action("TopMenu", "Catalog", new { isFooter = false })
                    </nav>
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                </div>
                <br />
                @*<div class="logo">
        <a href="https://www.elal.com" title="Go to Elal Home Page">
            <img title="Go to Elal Home Page" alt="Go to Elal Home Page" src="~/Content/skins/logo@(WorkContext.WorkingLanguage.Name == "Hebrew" ? "_he" : "").png" />
        </a>
    </div>
    <div class="questions">
        <div class="questions-border">
            <a href="~/t/Information">@T("Header.Information")</a>
            <a href="~/t/Orderingtimes">@T("Header.Orderingtimes")</a>
            <a class="Frequent_Flyer_header" href="~/t/FrequentFlyer">@T("Header.FrequentFlyer")</a>
            <a href="~/t/Contact">@T("Header.ContactUs")</a>
        </div>
    </div>
    <div class="fly_buy">
        <a href="~/Home/Index">
            <img title="Online Duty Free with ELAL airlines" alt="Online Duty Free with ELAL airlines" src="~/Content/skins/flyBuy.png" />
        </a>
    </div>
    <div class="head_search">
        @Html.Action("SearchBox", "Catalog")
    </div>
    <div class="language">
        <ul>
            <li onclick="setLocation('/dutyfree-elal/changelanguage/2');"><span class="heb">&nbsp;</span></li>
            <li onclick="setLocation('/dutyfree-elal/changelanguage/1');"><span class="eng">&nbsp;</span></li>
        </ul>
    </div>
    <div class="language-mobile">
        <ul class="languagepicker">
            <li><a class="fa fa-globe">&nbsp;</a><span class="languageselector">@T("Header.language.select") </span></li>
            <li class="@(WorkContext.WorkingLanguage.Name == "Hebrew" ? "active" : "")">
                <a onclick="setLocation('/dutyfree-elal/changelanguage/2');" >&nbsp;
                    <img src="/dutyfree-elal/Content/skins/flag_he_off.gif"  alt="hebrew flag"/>
                    <span class="languageselector"> @T("Header.language.HE") </span>
                </a>
            </li>
            <li class="@(WorkContext.WorkingLanguage.Name == "English" ? "active" : "")">

                <a onclick="setLocation('/dutyfree-elal/changelanguage/1');">
                    &nbsp;
                    <img src="/dutyfree-elal/Content/skins/flag_en.gif" alt="english falg" />
                    <span class="languageselector"> @T("Header.language.EN")</span>
                </a>
            </li>
        </ul>
    </div>*@
                <div class="headerIcon">
                    <a href="#" onclick=toggleMobileMenu()>
                        <span>&sbquo;</span>
                        <span>&sbquo;</span>
                        <span>&sbquo;</span>
                    </a>
                </div>
                @*<div id="topMenuDiv" class="headerMenu_box">
                    <nav>
                        @Html.Action("TopMenu", "Catalog", new { isFooter = false })
                    </nav>
                </div>*@
            </div>
        </div>
        @RenderBody()
        @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
        @Html.NopScripts(this.Url, ResourceLocation.Foot)

        <script type="text/javascript">

            $(document).ready(function () {
                $(".cart").corner("5px");
            });

            function toggleMobileMenu() {
                console.log("Entrou na funcao");
                var mobileMenu = document.getElementById("topMenuDiv");
                // Preciso declarar (linha acima) novamente, pra poder ver no console. Nao sei pq. mas funciona
                console.log(mobileMenu);
                $(mobileMenu).hasClass("headerMenu_box_active")
                    ?
                    ($(mobileMenu).removeClass("headerMenu_box_active"), $(".headerIcon").removeClass("headerIcon_active"))
                    :
                    ($(mobileMenu).addClass("headerMenu_box_active"), $(".headerIcon").addClass("headerIcon_active"));
            }
        </script>
    </div>
    @*Footer  Embed Code*@
    <script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>


<script src="/Plugins/SevenSpikes.Core/Scripts/kendo.public.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var autocomplete = $("#small-searchterms").kendoAutoComplete(
                {
                    height: 500,
                    highlightFirst: true,
                    minLength: 3,
                    dataTextField: "ProductName",
                    filter: "contains",

                    template: '<div class="instant-search-item" data-url="http://dfassdevelopment.com/${ data.SeName }">' +
                                   '<div class="img-block">' +
                                       '<img src="${ data.DefaultPictureModel.ImageUrl }" alt="${ data.Name }" title="${ data.Name }" style="border:none">' +
                                   '</div>' +
                                   '<div class="detail">' +
                                      '<div class="title">${ data.Name }</div>' +
                                      '<div class="price"># var price = ""; if (data.ProductPrice.Price) { price = data.ProductPrice.Price } # #= price #</div>' +
                                    '</div>' +
                              '</div>',
                    dataSource: new kendo.data.DataSource({
                        serverFiltering: true,
                        requestStart: function (e) {
                            $("#small-searchterms").addClass("instant-search-busy");
                        },
                        change: function (e) {
                            $("#small-searchterms").removeClass("instant-search-busy");
                        },
                        transport: {
                            read: "/InstantSearch/InstantSearchFor",
                            parameterMap: function (data) {
                                return { q: $("#small-searchterms").val(), categoryId: $("#instant-search-categories").val() };
                            }
                        }
                    }
                ),
                    change: function (e) {
                        var selected = $(".k-list").find(".k-state-selected");
                        var url = selected.find('.instant-search-item').attr('data-url');
                        if (typeof url === "undefined") {
                            // do nothing as the value has probably been changed from the onblur event handler rather than from dropdown selection
                        } else {
                            // navigate to the searched product
                            setLocation(url);
                        }
                    },
                    dataBound: function() {
                        $(".k-animation-container").addClass("instantSearch");
                    }
                });
    });
</script>
<script type="text/javascript">

                                function check_small_search_form() {
                                    var search_terms = $("#small-searchterms");
                                    if (search_terms.val() == "") {
                                        alert('Please enter some search keyword');
                                        search_terms.focus();
                                        return false;
                                    }

                                    return true;
                                }
</script>