﻿<div class="header">
    @*@Html.Widget("header")*@
    <div class="header-logo">
    </div>
   @* <div class="header-links-wrapper">*@
    @*@Html.Action("HeaderLinks", "Common")*@
        @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
    @*</div>*@
    <div class="search-box">
        @*@Html.Action("SearchBox", "Catalog")*@
    </div>
    <div class="header-selectors-wrapper">
        <div class="tax-display-type-selector">
            @*@Html.Action("TaxTypeSelector", "Common")*@
        </div>
        <div class="currency-selector">
            @*@Html.Action("CurrencySelector", "Common")*@
        </div>
        <div class="language-selector">
            @*@Html.Action("LanguageSelector", "Common")*@
        </div>
        @*@Html.Widget("header_selectors")*@
    </div>
</div>
