﻿@model Nop.Web.Models.Order.OrderLogin


@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
    <div  id="CheckOrder">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contentBlock" style="height: 233px;">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="width: 35%;float: left;">&nbsp;</div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 leftSideContentMain">
                    <div class="row contentBlock">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 orders_title withoutpl" style="text-align: center;">@T("order.check.description")</div><br /><br />
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  withoutpl">
                            <table>
                                <tr>
                                    <td width="200px">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 withoutpl" >@T("order.check.ordernumber")</div>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.OrderNumber)
                                        @Html.ValidationMessageFor(m => m.OrderNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 withoutpl">@T("order.check.email")</div>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </td>
                                </tr>
                            </table>
                            
                           
                            <div class="row padding_order order_error">
                                @*<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 withoutpl"></div>*@
                                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                {
                                    <text>@Model.ErrorMessage</text>
                                }
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 withoutpr" style="text-align: center;"><input class="ui-button-text ui-button" type="submit" value="@T("OrderLoginButton")" /></div>
                            </div>
                            <!--<div class="row">
                                To confirm that you orderd before April 1, 2016. please <a href="http://old.acdutyfree.com//login.php" target="_blank">Click here</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="width: 35%;float: left;">&nbsp;</div>
            </div>
        </div>
    </div>
}