﻿.outerli.dark {
    background-color: #0b145a !important;
}
.outerli.dark ul li{
    background-color: #0b145a !important;
}
.outerli.dark:after {
    background-color: #0b145a !important;
}
.outerli:hover::before {
    background-color: #0b145a !important;
}
.outerli.dark a:hover {
    color: white !important;
    border-left: 0;
    border-right: 0;
}
