#top_menu{
	justify-content: space-between;
    min-width:100%;
    width:auto;
}
#top_menu li{
	float: left;
	white-space:nowrap; 
    margin-left: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    behavior: url(../../../Themes/DefaultClean/Content/pie/PIE.htc);
}
    #top_menu li:hover {
        background-color: #0b145a;
    }
.outerli {
    border-left: 0;
    border-right: 0;
}
#top_menu li a {
	padding: 12px 4px;
}
.dark{
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    behavior: url(../../../Themes/DefaultClean/Content/pie/PIE.htc);
}
#top_menu li ul li {
    padding: 0;
    width: 100%;
}
.breadcrumb {
    float: left;
}