﻿@model LanguageSelectorModel
@using Nop.Core
@using Nop.Services.Helpers

@inject IWorkContext workContext
@inject IUserAgentHelper userAgentHelper
@inject Nop.Core.IWebHelper webHelper

@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@if (Model.AvailableLanguages.Count > 1)
{
<div class="language-selector">
    @{
        var returnUrl = webHelper.GetRawUrl(Context.Request);

        if (Model.UseImages)
        {
            <ul class="language-list">
                @{

                    if (supportRtl)
                    {
                        var lang = Model.AvailableLanguages.Where(r => r.Name == "English").FirstOrDefault();
                        <li>
                            <a href="@Url.RouteUrl("ChangeLanguage", new { langid = lang.Id, returnUrl }, webHelper.CurrentRequestProtocol)" title="@lang.Name">

                                <img class="LanguagesSelector" title='@lang.Name' alt='@lang.Name' @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)
                                     src="@Url.Content("~/images/flags/"+@lang.FlagImageFileName)" />



                                <span class="textLanguage">EN</span>

                            </a>
                        </li>

                    }
                    else
                    {
                        var lang = Model.AvailableLanguages.Where(r => r.Name == "Hebrew").FirstOrDefault();
                        <li>
                            <a href="@Url.RouteUrl("ChangeLanguage", new { langid = lang.Id, returnUrl }, webHelper.CurrentRequestProtocol)" title="@lang.Name">
                                <img class="LanguagesSelector" title='@lang.Name' alt='@lang.Name' @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)
                                     src="@Url.Content("~/images/flags/"+@lang.FlagImageFileName) " />

                                <span class="textLanguage">HB</span>


                            </a>
                        </li>

                    }
                }

            <li>
                <i class="fa fa-user-circle-o" style="font-size:21px"></i>
                <span>
                    <a class="loginlink" href="~/checkorder">@T("Header.Login")</a>
                </span>

            </li>

            </ul>
            

            }
            else
            {
                var languages = Model.AvailableLanguages.Select(lang => new SelectListItem
                {
                    Text = lang.Name,
                    Value = Url.RouteUrl("ChangeLanguage", new { langid = lang.Id, returnUrl }, webHelper.CurrentRequestProtocol),
                    Selected = lang.Id.Equals(Model.CurrentLanguageId)
                });
                <select id="customerlanguage" name="customerlanguage" asp-items="@languages" onchange="setLocation(this.value);" aria-label="@T("Languages.Selector.Label")"></select>
            }
            }
</div>
}
